h1 {
  font-family: Asap;
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  text-align: center;
  color: #000;
  padding-top: 0;
}

h2 {
  font-family: Asap;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

body {
  font-family: Asap;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.SECOND-LEVEL-MENU-BUTTONS-DROP-DOWN {
  font-family: Asap;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: 1.2px;
  text-align: center;
  color: #000;
}

.dashboard-tables-body {
  font-family: Asap;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.THIRD-LEVEL-LINKS {
  font-family: Asap;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 1.05px;
  text-align: left;
  color: #000;
}

.FORUM-CATEGORY {
  font-family: Asap;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.9px;
  text-align: left;
  color: #000;
}

.TOP-MENU {
  font-family: Asap;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: 0.9px;
  text-align: center;
  color: #000;
}

.FORUM-TAG {
  font-family: Asap;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.1;
  letter-spacing: 0.75px;
  text-align: left;
  color: #000;
}
