{
    "openapi": "3.0.0",
    "info": {
        "title": "Restarters API",
        "description": "An API for accessing Restarters data.  No API authorisation is necessary - all data is read-only and public.",
        "contact": {
            "email": "tech@therestartproject.org"
        },
        "license": {
            "name": "GPL v3",
            "url": "https://tldrlegal.com/license/gnu-general-public-license-v3-(gpl-3)"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://restarters.net",
            "description": "Live API Server"
        },
        {
            "url": "http://restarters.test:8000",
            "description": "Test API Server"
        }
    ],
    "paths": {
        "/api/v2/events/{id}": {
            "get": {
                "tags": [
                    "Events"
                ],
                "summary": "Get Event",
                "description": "Returns information about an event.",
                "operationId": "getEvent",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Event id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Event"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Event not found"
                    }
                }
            }
        },
        "/api/v2/groups/{id}": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Get Group",
                "description": "Returns information about a group.",
                "operationId": "getGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Group id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Group"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            }
        },
        "/api/v2/groups/{id}/events": {
            "get": {
                "tags": [
                    "Groups"
                ],
                "summary": "Get Group",
                "description": "Returns the list of events for a group.",
                "operationId": "getGroup",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Group id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "start",
                        "in": "query",
                        "description": "The minimum start date for an event in ISO8601 format.  Inclusive.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2022-09-18T11:30:00+00:00"
                        }
                    },
                    {
                        "name": "end",
                        "in": "query",
                        "description": "The maximum end date for an event in ISO8601 format.  Inclusive.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2022-09-18T12:30:00+00:00"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "data",
                                            "description": "An array of groups",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/EventSummary"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Group not found"
                    }
                }
            }
        },
        "/api/v2/networks": {
            "get": {
                "tags": [
                    "Networks"
                ],
                "summary": "Get Networks",
                "description": "Returns list of networks on the platform.",
                "operationId": "getNetworks",
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "data",
                                            "description": "An array of networks",
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/NetworkSummary"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Network not found"
                    }
                }
            }
        },
        "/api/v2/networks/{id}": {
            "get": {
                "tags": [
                    "Networks"
                ],
                "summary": "Get Network",
                "description": "Returns information about a network.",
                "operationId": "getNetwork",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Network id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Network"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Event not found"
                    }
                }
            }
        },
        "/api/v2/networks/{id}/groups": {
            "get": {
                "tags": [
                    "Networks"
                ],
                "summary": "Get Network Groups",
                "description": "Returns list of groups for a network.",
                "operationId": "getNetworkGroups",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Network id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "includeNextEvent",
                        "in": "query",
                        "description": "Include the next event for the group.  This makes the call slower.  Default false.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "includeDetails",
                        "in": "query",
                        "description": "Include the details for each group.  This makes the call significantly slower.  Default false.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "data",
                                            "description": "An array of groups",
                                            "oneOf": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GroupSummary"
                                                    }
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Group"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Network not found"
                    }
                }
            }
        },
        "/api/v2/networks/{id}/events": {
            "get": {
                "tags": [
                    "Networks"
                ],
                "summary": "Get Network Events",
                "description": "Returns list of events for a network.",
                "operationId": "getNetworkEvents",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "Network id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "updated_start",
                        "in": "query",
                        "description": "The minimum start date for an event in ISO8601 format.  Inclusive.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2022-09-18T11:30:00+00:00"
                        }
                    },
                    {
                        "name": "updated_end",
                        "in": "query",
                        "description": "The maximum end date for an event in ISO8601 format.  Inclusive.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2022-09-18T12:30:00+00:00"
                        }
                    },
                    {
                        "name": "includeDetails",
                        "in": "query",
                        "description": "Include the details for each event.  This makes the call significantly slower.  Default false.",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "title": "data",
                                            "description": "An array of events",
                                            "oneOf": [
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EventSummary"
                                                    }
                                                },
                                                {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Event"
                                                    }
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Network not found"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Group": {
                "title": "Group",
                "description": "A Group of Restarters, who organise events.",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "Unique identifier of this group",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "title": "name",
                        "description": "Unique name of this group",
                        "format": "string",
                        "example": "Restarters HQ"
                    },
                    "location": {
                        "$ref": "#/components/schemas/GroupLocation"
                    },
                    "image": {
                        "title": "image",
                        "description": "URL of an image for this group.  You should prefix this with /uploads before use.",
                        "format": "string",
                        "example": "/mid_1597853610178a4b76e4d666b2a7b32ee75d8a24c706f1cbf213970.png"
                    },
                    "phone": {
                        "title": "phone",
                        "description": "An optional phone number to contact the group.",
                        "format": "string",
                        "example": "07544 314678"
                    },
                    "website": {
                        "title": "website",
                        "description": "An URL for the group's own separate website.",
                        "format": "string",
                        "example": "https://therestartproject.org"
                    },
                    "description": {
                        "title": "description",
                        "description": "HTML description of the group.",
                        "format": "string",
                        "example": "<p>This is a description.</p>"
                    },
                    "next_event": {
                        "$ref": "#/components/schemas/Event"
                    },
                    "timezone": {
                        "title": "timezone",
                        "description": "Timezone for this group.",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "hosts": {
                        "title": "hosts",
                        "description": "The number of hosts of this group.",
                        "type": "number"
                    },
                    "restarters": {
                        "title": "hosts",
                        "description": "The number of restarters in this group.",
                        "type": "number"
                    },
                    "stats": {
                        "title": "stats",
                        "description": "An array of statistics about the activity of a group.",
                        "properties": {
                            "co2_powered": {
                                "title": "co2_powered",
                                "description": "The amount of CO2 saved by repairing powered items.",
                                "type": "number"
                            },
                            "co2_unpowered": {
                                "title": "co2_unpowered",
                                "description": "The amount of CO2 saved by repairing unpowered items.",
                                "type": "number"
                            },
                            "co2_total": {
                                "title": "co2_total",
                                "description": "co2_powered + co2_unpowered",
                                "type": "number"
                            },
                            "waste_powered": {
                                "title": "waste_powered",
                                "description": "The weight in kg of waste saved by repairing powered items.",
                                "type": "number"
                            },
                            "waste_unpowered": {
                                "title": "waste_unpowered",
                                "description": "The weight in kg of waste saved by repairing unpowered items.",
                                "type": "number"
                            },
                            "fixed_powered": {
                                "title": "fixed_powered",
                                "description": "The number of powered items which have been repaired.",
                                "type": "number"
                            },
                            "fixed_unpowered": {
                                "title": "fixed_unpowered",
                                "description": "The number of unpowered items which have been repaired.",
                                "type": "number"
                            },
                            "fixed_devices": {
                                "title": "fixed_devices",
                                "description": "fixed_powered + fixed_unpowered",
                                "type": "number"
                            },
                            "repairable_devices": {
                                "title": "repairable_devices",
                                "description": "The number of devices which were capable of being repaired.",
                                "type": "number"
                            },
                            "dead_devices": {
                                "title": "dead_devices",
                                "description": "The number of devices which were not capable of being repaired.",
                                "type": "number"
                            },
                            "unknown_repair_status": {
                                "title": "unknown_repair_status",
                                "description": "The number of devices where the repair status was not known.",
                                "type": "number"
                            },
                            "devices_powered": {
                                "title": "devices_powered",
                                "description": "The number of powered devices seen.",
                                "type": "number"
                            },
                            "devices_unpowered": {
                                "title": "devices_unpowered",
                                "description": "The number of unpowered devices seen.",
                                "type": "number"
                            },
                            "no_weight_powered": {
                                "title": "no_weight_powered",
                                "description": "The number of powered devices where no weight was provided.",
                                "type": "number"
                            },
                            "no_weight_unpowered": {
                                "title": "no_weight_unpowered",
                                "description": "The number of unpowered devices where no weight was provided.",
                                "type": "number"
                            },
                            "participants": {
                                "title": "participants",
                                "description": "The number of people who attended.",
                                "type": "number"
                            },
                            "volunteers": {
                                "title": "volunteers",
                                "description": "The number of volunteer repairers.",
                                "type": "number"
                            },
                            "hours_volunteered": {
                                "title": "hours_volunteered",
                                "description": "The estimated number of hours volunteered for this group.",
                                "type": "number"
                            },
                            "events": {
                                "title": "events",
                                "description": "The number of events created by this group.",
                                "type": "number"
                            }
                        },
                        "type": "object",
                        "format": "object"
                    },
                    "updated_at": {
                        "title": "updated_at",
                        "description": "The last change to this group.  This includes changes which affect the stats.",
                        "format": "date-time"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Group"
                }
            },
            "GroupLocation": {
                "title": "GroupLocation",
                "description": "The information about the location of a group.",
                "properties": {
                    "area": {
                        "description": "The free-form area that this group is in.",
                        "format": "string",
                        "example": "London"
                    },
                    "location": {
                        "description": "The location that this group is in.  Must be geocodable.",
                        "format": "string",
                        "example": "College Road, London NW10 5EX, UK"
                    },
                    "country": {
                        "description": "The free-form country.",
                        "format": "string",
                        "example": "United Kingdom"
                    },
                    "lat": {
                        "title": "lat",
                        "description": "Latitude of the group.",
                        "format": "float",
                        "example": "50.8113243"
                    },
                    "lng": {
                        "title": "lng",
                        "description": "Longitude of the group.",
                        "format": "float",
                        "example": "-1.0788839"
                    },
                    "postcode": {
                        "title": "postcode",
                        "description": "The group postcode",
                        "format": "string",
                        "example": "SW9 7QD"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "GroupLocation"
                }
            },
            "GroupSummary": {
                "title": "GroupSummary",
                "description": "The very basic information about a group.  For full information, fetch the group.",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "Unique identifier of this group",
                        "format": "int64",
                        "example": 1
                    },
                    "area": {
                        "title": "name",
                        "description": "Unique name of this group",
                        "format": "string",
                        "example": "Restarters HQ"
                    },
                    "location": {
                        "$ref": "#/components/schemas/GroupLocation"
                    },
                    "image": {
                        "title": "image",
                        "description": "URL of an image for this group.  You should prefix this with /uploads before use.",
                        "format": "string",
                        "example": "/mid_1597853610178a4b76e4d666b2a7b32ee75d8a24c706f1cbf213970.png"
                    },
                    "updated_at": {
                        "title": "updated_at",
                        "description": "The last change to this group.  This includes changes which affect the stats.",
                        "format": "date-time"
                    },
                    "next_event": {
                        "$ref": "#/components/schemas/EventSummary"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "GroupSummary"
                }
            },
            "Network": {
                "title": "Network",
                "description": "A network of Groups using the Restarters platform.",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "Unique identifier of this network",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "title": "name",
                        "description": "Unique name of this network",
                        "format": "string",
                        "example": "Default Network"
                    },
                    "logo": {
                        "title": "image",
                        "description": "URL of a logo for this network.  You should prefix this with /uploads before use.",
                        "format": "string",
                        "example": "/mid_1597853610178a4b76e4d666b2a7b32ee75d8a24c706f1cbf213970.png"
                    },
                    "description": {
                        "title": "description",
                        "description": "HTML description of the network.",
                        "format": "string",
                        "example": "<p>This is a description.</p>"
                    },
                    "website": {
                        "title": "website",
                        "description": "An URL for the networks's own separate website.",
                        "format": "string",
                        "example": "https://therestartproject.org"
                    },
                    "shortname": {
                        "title": "shortname",
                        "description": "A short name for the network..",
                        "format": "string",
                        "example": "resarters"
                    },
                    "default_language": {
                        "title": "default_language",
                        "description": "The default language for users in this network.",
                        "format": "string",
                        "example": "fr-BE"
                    },
                    "timezone": {
                        "title": "timezone",
                        "description": "Default timezone for this network.",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "stats": {
                        "title": "stats",
                        "description": "An array of statistics about the activity of a network.",
                        "properties": {
                            "co2_powered": {
                                "title": "co2_powered",
                                "description": "The amount of CO2 saved by repairing powered items.",
                                "type": "number"
                            },
                            "co2_unpowered": {
                                "title": "co2_unpowered",
                                "description": "The amount of CO2 saved by repairing unpowered items.",
                                "type": "number"
                            },
                            "co2_total": {
                                "title": "co2_total",
                                "description": "co2_powered + co2_unpowered",
                                "type": "number"
                            },
                            "waste_powered": {
                                "title": "waste_powered",
                                "description": "The weight in kg of waste saved by repairing powered items.",
                                "type": "number"
                            },
                            "waste_unpowered": {
                                "title": "waste_unpowered",
                                "description": "The weight in kg of waste saved by repairing unpowered items.",
                                "type": "number"
                            },
                            "fixed_powered": {
                                "title": "fixed_powered",
                                "description": "The number of powered items which have been repaired.",
                                "type": "number"
                            },
                            "fixed_unpowered": {
                                "title": "fixed_unpowered",
                                "description": "The number of unpowered items which have been repaired.",
                                "type": "number"
                            },
                            "fixed_devices": {
                                "title": "fixed_devices",
                                "description": "fixed_powered + fixed_unpowered",
                                "type": "number"
                            },
                            "repairable_devices": {
                                "title": "repairable_devices",
                                "description": "The number of devices which were capable of being repaired.",
                                "type": "number"
                            },
                            "dead_devices": {
                                "title": "dead_devices",
                                "description": "The number of devices which were not capable of being repaired.",
                                "type": "number"
                            },
                            "unknown_repair_status": {
                                "title": "unknown_repair_status",
                                "description": "The number of devices where the repair status was not known.",
                                "type": "number"
                            },
                            "devices_powered": {
                                "title": "devices_powered",
                                "description": "The number of powered devices seen.",
                                "type": "number"
                            },
                            "devices_unpowered": {
                                "title": "devices_unpowered",
                                "description": "The number of unpowered devices seen.",
                                "type": "number"
                            },
                            "no_weight_powered": {
                                "title": "no_weight_powered",
                                "description": "The number of powered devices where no weight was provided.",
                                "type": "number"
                            },
                            "no_weight_unpowered": {
                                "title": "no_weight_unpowered",
                                "description": "The number of unpowered devices where no weight was provided.",
                                "type": "number"
                            },
                            "participants": {
                                "title": "participants",
                                "description": "The number of people who attended.",
                                "type": "number"
                            },
                            "volunteers": {
                                "title": "volunteers",
                                "description": "The number of volunteer repairers.",
                                "type": "number"
                            },
                            "hours_volunteered": {
                                "title": "hours_volunteered",
                                "description": "The estimated number of hours volunteered for this network.",
                                "type": "number"
                            },
                            "events": {
                                "title": "events",
                                "description": "The number of events created by this network.",
                                "type": "number"
                            }
                        },
                        "type": "object",
                        "format": "object"
                    },
                    "updated_at": {
                        "title": "updated_at",
                        "description": "The last change to this network.  This includes changes which affect the stats.",
                        "format": "date-time"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Network"
                }
            },
            "NetworkSummary": {
                "title": "NetworkSummary",
                "description": "The summary information about a network.  For the full information, fetch the network.",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "Unique identifier of this network",
                        "format": "int64",
                        "example": 1
                    },
                    "name": {
                        "title": "name",
                        "description": "Unique name of this network",
                        "format": "string",
                        "example": "Default Network"
                    },
                    "logo": {
                        "title": "image",
                        "description": "URL of a logo for this network.  You should prefix this with /uploads before use.",
                        "format": "string",
                        "example": "/mid_1597853610178a4b76e4d666b2a7b32ee75d8a24c706f1cbf213970.png"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Network"
                }
            },
            "Event": {
                "title": "Event",
                "description": "The full information about an event.",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "Unique identifier of this event",
                        "format": "int64",
                        "example": 1
                    },
                    "start": {
                        "title": "start",
                        "description": "Start time of the event in ISO8601 format.",
                        "format": "date-time",
                        "example": "2022-09-18T11:30:00+00:00"
                    },
                    "end": {
                        "title": "end",
                        "description": "End time of the event in ISO8601 format",
                        "format": "date-time",
                        "example": "2022-09-18T12:30:00+00:00"
                    },
                    "timezone": {
                        "title": "timezone",
                        "description": "Timezone in which the event is taking place.",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "title": {
                        "title": "title",
                        "description": "Title of the event",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "description": {
                        "title": "description",
                        "description": "A description of the event.  May contain HTML",
                        "format": "string",
                        "example": "Come along and we'll fix your broken electrical items."
                    },
                    "location": {
                        "title": "location",
                        "description": "Human-readable address of the event",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "lat": {
                        "title": "lat",
                        "description": "Latitude at which the event is taking place.  Only valid if online=false.",
                        "format": "float",
                        "example": "50.8113243"
                    },
                    "online": {
                        "title": "online",
                        "description": "Whether this event is online (virtual).",
                        "format": "boolean",
                        "example": "false"
                    },
                    "lng": {
                        "title": "lng",
                        "description": "Longitude at which the event is taking place.  Only valid if online=false.",
                        "format": "float",
                        "example": "-1.0788839"
                    },
                    "group": {
                        "$ref": "#/components/schemas/GroupSummary"
                    },
                    "stats": {
                        "title": "stats",
                        "description": "An array of statistics about the activity of an event.",
                        "properties": {
                            "co2_powered": {
                                "title": "co2_powered",
                                "description": "The amount of CO2 saved by repairing powered items.",
                                "type": "number"
                            },
                            "co2_unpowered": {
                                "title": "co2_unpowered",
                                "description": "The amount of CO2 saved by repairing unpowered items.",
                                "type": "number"
                            },
                            "co2_total": {
                                "title": "co2_total",
                                "description": "co2_powered + co2_unpowered",
                                "type": "number"
                            },
                            "waste_powered": {
                                "title": "waste_powered",
                                "description": "The weight in kg of waste saved by repairing powered items.",
                                "type": "number"
                            },
                            "waste_unpowered": {
                                "title": "waste_unpowered",
                                "description": "The weight in kg of waste saved by repairing unpowered items.",
                                "type": "number"
                            },
                            "fixed_powered": {
                                "title": "fixed_powered",
                                "description": "The number of powered items which have been repaired.",
                                "type": "number"
                            },
                            "fixed_unpowered": {
                                "title": "fixed_unpowered",
                                "description": "The number of unpowered items which have been repaired.",
                                "type": "number"
                            },
                            "fixed_devices": {
                                "title": "fixed_devices",
                                "description": "fixed_powered + fixed_unpowered",
                                "type": "number"
                            },
                            "repairable_devices": {
                                "title": "repairable_devices",
                                "description": "The number of devices which were capable of being repaired.",
                                "type": "number"
                            },
                            "dead_devices": {
                                "title": "dead_devices",
                                "description": "The number of devices which were not capable of being repaired.",
                                "type": "number"
                            },
                            "unknown_repair_status": {
                                "title": "unknown_repair_status",
                                "description": "The number of devices where the repair status was not known.",
                                "type": "number"
                            },
                            "devices_powered": {
                                "title": "devices_powered",
                                "description": "The number of powered devices seen.",
                                "type": "number"
                            },
                            "devices_unpowered": {
                                "title": "devices_unpowered",
                                "description": "The number of unpowered devices seen.",
                                "type": "number"
                            },
                            "no_weight_powered": {
                                "title": "no_weight_powered",
                                "description": "The number of powered devices where no weight was provided.",
                                "type": "number"
                            },
                            "no_weight_unpowered": {
                                "title": "no_weight_unpowered",
                                "description": "The number of unpowered devices where no weight was provided.",
                                "type": "number"
                            },
                            "participants": {
                                "title": "participants",
                                "description": "The number of people who attended.",
                                "type": "number"
                            },
                            "volunteers": {
                                "title": "volunteers",
                                "description": "The number of volunteer repairers.",
                                "type": "number"
                            },
                            "hours_volunteered": {
                                "title": "hours_volunteered",
                                "description": "The estimated number of hours volunteered for this event.",
                                "type": "number"
                            }
                        },
                        "type": "object",
                        "format": "object"
                    },
                    "updated_at": {
                        "title": "updated_at",
                        "description": "The last change to this group.  This includes changes which affect the stats.",
                        "format": "date-time"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "Event"
                }
            },
            "EventCollection": {
                "title": "EventCollection",
                "description": "A collection of events.",
                "xml": {
                    "name": "EventCollection"
                }
            },
            "EventSummary": {
                "title": "EventSummary",
                "description": "The basic information about an event.  For full information, fetch the event.",
                "properties": {
                    "id": {
                        "title": "id",
                        "description": "Unique identifier of this event",
                        "format": "int64",
                        "example": 1
                    },
                    "start": {
                        "title": "start",
                        "description": "Start time of the event in ISO8601 format.",
                        "format": "date-time",
                        "example": "2022-09-18T11:30:00+00:00"
                    },
                    "end": {
                        "title": "end",
                        "description": "End time of the event in ISO8601 format",
                        "format": "date-time",
                        "example": "2022-09-18T12:30:00+00:00"
                    },
                    "timezone": {
                        "title": "timezone",
                        "description": "Timezone in which the event is taking place.",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "title": {
                        "title": "title",
                        "description": "Title of the event",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "location": {
                        "title": "location",
                        "description": "Human-readable address of the event",
                        "format": "string",
                        "example": "Europe/London"
                    },
                    "online": {
                        "title": "online",
                        "description": "Whether this event is online (virtual).",
                        "format": "boolean",
                        "example": "false"
                    },
                    "lat": {
                        "title": "lat",
                        "description": "Latitude at which the event is taking place.  Only valid if online=false.",
                        "format": "float",
                        "example": "50.8113243"
                    },
                    "lng": {
                        "title": "lng",
                        "description": "Longitude at which the event is taking place.  Only valid if online=false.",
                        "format": "float",
                        "example": "-1.0788839"
                    },
                    "group": {
                        "$ref": "#/components/schemas/GroupSummary"
                    },
                    "updated_at": {
                        "title": "updated_at",
                        "description": "The last change to this group.  This includes changes which affect the stats.",
                        "format": "date-time"
                    }
                },
                "type": "object",
                "xml": {
                    "name": "EventSummary"
                }
            },
            "EventSummaryCollection": {
                "title": "EventSummaryCollection",
                "description": "A collection of event summaries.",
                "xml": {
                    "name": "EventSummaryCollection"
                }
            }
        },
        "securitySchemes": {
            "ApiKeyAuth": {
                "type": "apiKey",
                "name": "api_token",
                "in": "query"
            }
        }
    }
}