node_modules
vendor
.git
.env*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
public/uploads/*
.phpunit.cache
tests/Browser/screenshots
tests/Browser/console
*.log
.DS_Store
Thumbs.db