/node_modules
/public/storage
/public/uploads
/public/devices.csv
/public/report.html
npm-debug.log
yarn-error.log
*.DS_Store
vendor
*GTAGS
*GRTAGS
*GPATH
.ac-php-conf.json
anonymise-db.sql
temp_db.sql
restarters-anonymised.sql
/.idea
.dir-locals.el
# The following should be ignored in all branches except production.
/public/mix-manifest.json
/public/fonts/vendor
/public/global
/public/js/app.js
/public/js/wiki.js
/public/css/app.css
/public/css/wiki.css