/node_modules
/public/storage
/public/uploads
/public/devices.csv
npm-debug.log
yarn-error.log
.env
*.DS_Store
vendor/barryvdh/laravel-debugbar/
vendor/bin/phpcbf
vendor/bin/phpcs
vendor/bin/phpunit
vendor/doctrine/instantiator/
vendor/facebook/
vendor/filp/
vendor/fzaninotto/
vendor/hamcrest/
vendor/laravel/dusk/
vendor/maximebf/
vendor/mockery/
vendor/myclabs/
vendor/nunomaduro/
vendor/phar-io/
vendor/phpdocumentor/
vendor/phpspec/
vendor/phpunit/
vendor/sebastian/
vendor/squizlabs/
vendor/theseer/
vendor/webmozart/
vendor/composer/
*GTAGS
*GRTAGS
*GPATH
.ac-php-conf.json
anonymise-db.sql
temp_db.sql
restarters-anonymised.sql
/.idea/$CACHE_FILE$
/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/deployment.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/restarters.net.iml
/.idea/vcs.xml
/.idea/webServers.xml
/.idea/sshConfigs.xml
