/node_modules
/public/css
/public/fonts/vendor
/public/global
/public/js
/public/storage
/public/uploads
/public/devices.csv
/public/report.html
npm-debug.log
yarn-error.log
.env
*.DS_Store
vendor
*GTAGS
*GRTAGS
*GPATH
.ac-php-conf.json
anonymise-db.sql
temp_db.sql
restarters-anonymised.sql
/.idea
.dir-locals.el
