<?php
$finder = PhpCsFixer\Finder::create()
    ->notPath('bootstrap/cache')
    ->notPath('storage')
    ->notPath('vendor')
    ->in(__DIR__)
    ->name('*.php')
    ->notName('*.blade.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'no_short_echo_tag' => true,
        'indentation_type' => true,
        'array_indentation' => true,
        'concat_space' => ['spacing' => 'none'],
        'function_typehint_space' => true,
        'linebreak_after_opening_tag' => true,
        'lowercase_static_reference' => true,
        'multiline_whitespace_before_semicolons' => ['strategy' => 'no_multi_line'],
        'no_empty_comment' => true,
        'no_empty_statement' => true,
        'no_extra_blank_lines' => ['tokens' => ['extra']],
        'no_leading_namespace_whitespace' => true,
        'no_mixed_echo_print' => ['use' => 'echo'],
        'no_short_echo_tag' => true,
        'no_unused_imports' => true,
        'no_useless_else' => true,
        'no_useless_return' => true,
        'no_whitespace_in_blank_line' => true,
        'non_printable_character' => ['use_escape_sequences_in_strings' => false],
        'normalize_index_brace' => true,
        'not_operator_with_space' => true,
        'object_operator_without_whitespace' => true,
        'ordered_imports' => ['imports_order' => null, 'sort_algorithm' => 'alpha'],
        'single_quote' => ['strings_containing_single_quote_chars' => false],
        'ternary_operator_spaces' => true,
        'trim_array_spaces' => true,
        'trailing_comma_in_multiline_array' => true,
        'whitespace_after_comma_in_array' => true,
        'no_trailing_comma_in_singleline_array' => true,
        'no_multiline_whitespace_around_double_arrow' => true,
        'cast_spaces' => ['space' => 'single'],
        'declare_equal_normalize' => ['space' => 'none'],
        'blank_line_before_statement' => ['statements' => ['break', 'continue', 'declare', 'return', 'throw', 'try']],
        'binary_operator_spaces' => ['default' => 'single_space', 'operators' => []],
        'no_singleline_whitespace_before_semicolons' => true,
    ])
    ->setFinder($finder);
