<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix=".php">./tests/Feature</directory>
            <exclude>./tests/Feature/Admin/Users/WikiLoginTests.php</exclude>
            <exclude>./tests/Feature/Microtasks/ExampleTest.php</exclude>
            <exclude>./tests/Feature/Stats/StatsTestCase.php</exclude>
            <exclude>./tests/Feature/StyleTest.php</exclude>
            <exclude>./tests/Feature/Users/Registration/DiscourseAccountCreationTests.php</exclude>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix=".php">./tests/Unit</directory>
            <exclude>./tests/Unit/CharsetTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="database"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="DB_CONNECTION" value="mysql_testing"/>
        <env name="DB_TEST_DATABASE" value="restarters_db"/>
        <env name="DB_TEST_USERNAME" value="restarters"/>
        <env name="DB_TEST_PASSWORD" value="s3cr3t"/>
        <env name="AUDIT_CONSOLE_EVENTS" value="true"/>
        <env name="CALENDAR_HASH" value="somehash"/>
    </php>
</phpunit>
