<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
<!--        We have lots of tests which exist but don't run yet.  So we only run a subset of them here. -->
        <testsuite name="Feature">
            <directory suffix=".php">./tests/Feature/Users/Dashboard</directory>
            <directory suffix=".php">./tests/Feature/Users/Fixometer</directory>
            <directory suffix=".php">./tests/Feature/Devices</directory>
            <file>./tests/Feature/Users/Registration/AccountCreationTest.php</file>
            <file>./tests/Feature/Events/CreateEventTest.php</file>
            <file>./tests/Feature/Groups/BasicTest.php</file>
            <file>./tests/Feature/Groups/GroupCreateTest.php</file>
            <file>./tests/Feature/Microtasks/BasicTest.php</file>
        </testsuite>

        <testsuite name="Unit">
            <file>./tests/Unit/UsernameGeneratorTest</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql_testing"/>
        <env name="DB_TEST_DATABASE" value="restarters_db"/>
        <env name="DB_TEST_USERNAME" value="restarters"/>
        <env name="DB_TEST_PASSWORD" value="s3cr3t"/>
    </php>
</phpunit>
