<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
<!--
We have lots of tests which exist but don't run yet.  So we only run a subset of them here.  If you see a <file>,
it means that there is some other test in that directory which doesn't run yet.
-->
        <testsuite name="Feature">
            <directory suffix=".php">./tests/Feature/Admin</directory>
            <exclude>./tests/Feature/Admin/Users/WikiLoginTests.php</exclude>
            <directory suffix=".php">./tests/Feature/Dashboard</directory>
            <directory suffix=".php">./tests/Feature/Devices</directory>
            <directory suffix=".php">./tests/Feature/Events</directory>
            <directory suffix=".php">./tests/Feature/Fixometer</directory>
            <directory suffix=".php">./tests/Feature/Groups</directory>
            <exclude>./tests/Feature/Groups/WordpressGroupPushTest.php</exclude>
            <directory suffix=".php">./tests/Feature/Microtasks/</directory>
            <exclude>./tests/Feature/Microtasks/ExampleTest.php</exclude>
            <exclude>./tests/Feature/Microtasks/MisccatTest.php</exclude>
            <directory suffix=".php">./tests/Feature/Networks</directory>
            <directory suffix=".php">./tests/Feature/Users</directory>
            <file>./tests/Feature/DeviceStatsTest.php</file>
            <file>./tests/Feature/EventStatsTest.php</file>
            <file>./tests/Feature/GroupStatsTest.php</file>
        </testsuite>

        <testsuite name="Unit">
            <directory suffix=".php">./tests/Unit</directory>
            <exclude>./tests/Unit/CharsetTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="mysql_testing"/>
        <env name="DB_TEST_DATABASE" value="restarters_db"/>
        <env name="DB_TEST_USERNAME" value="restarters"/>
        <env name="DB_TEST_PASSWORD" value="s3cr3t"/>
    </php>
</phpunit>
