.accordion__share {

  border-top: 1px solid rgba(0, 0, 0, 0.125);

  .card {
    border: 0 none;
    border-left: 1px solid rgba(0, 0, 0, 0.125);
    border-right: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-header {

    font-family: $font-family-sans-serif;

    .btn {
      color: #000;
      font-size: 16px;
      padding: 8px 15px 10px;
      width: 100%;
      text-align: left;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:active, &:focus {
        text-decoration: none;
        outline: 2px solid rgba(3, 148, 166, 0.5);
      }

      .accordion-arrow {
        float: right;
        margin-top: 6px;
        transform: rotate(180deg);
      }

      &.collapsed {

        .accordion-arrow {
          transform: rotate(0deg);
        }

      }

    }

  }

  .card-body {
    background: #EEF0F0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }

}

.accordion__grps {

    background-color: $brand-white;
    border: 1px solid $brand-black;
    box-shadow: 5px 5px $brand-black;


  .card {
      background-color: $brand-white;
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    margin-bottom: 2px;

    &:first-child {
      border-top: 0;
    }
  }

  .card-body {
    padding: 15px;
  }

  .card-header {
    padding: 0;
    background-color: $brand-white;

    .btn {
      position: relative;
      z-index: 1;
    }
  }

  .accordion-arrow {
      color: black;
    position: absolute;
    right: 15px;
    z-index: 1;
  }
}

#accordion-log {
    .card .btn {
        font-family: $font-family-second;
        font-size: 15px;
        line-height: 19px;
        color: #000;
    }
}
