.dashboard {
    padding: 0 0 0 0;

    // .container-fluid {
    //     @include media-breakpoint-up(sm) {
    //         padding: 0 7px;
    //     }
    // }
    .container-fluid {
        max-width: 1270px;
    }

    &__aside {
        margin-bottom: 15px;
        background-color: #fff;
        border: 1px solid $brand-black;
        box-shadow: 6px 6px $brand-black;
    }

    &__block {
        border: 1px solid $brand-black;
        box-shadow: 6px 6px $brand-black;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        //flex: 1 0 100%;
        flex: 1 0 auto;
        flex-shrink: 0;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        &--no-border {
            border: none;
        }

        &__media {
            flex-shrink: 0;
            width: 100%;
            position: relative;
            margin-top: -5px;
            z-index: 9;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            align-content: center;
        }

        &__header {
            padding: 14px 50px 14px 20px;
            background-position: top right;
            z-index: 10;
            background-color: transparent;
            background-repeat: no-repeat;

            &--wiki {
                background-image: url(/images/dashboard/wiki_header@2x.png);
                background-size: auto 75px;
                height: 75px;
            }

            &--events {
                background-image: url(/images/dashboard/events_header@2x.png);
                background-size: 100% 74px;
                height: 74px;
            }

            &--community {
                background-image: url(/images/dashboard/community_header@2x.png);
                background-size: auto 74px;
                height: 74px;
            }

            &--discussion {
                background-image: url(/images/dashboard/discussion_header@2x.png);
                background-size: auto 73px;
                height: 73px;
                padding-right: 65px;
            }

            &--hottopics {
                background-image: url(/images/dashboard/restarters-hot-topic-header.svg);
                background-size: auto 90px;
                height: 74px;
            }

            h4 {
                font-family: Asap;
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 0.9;
                letter-spacing: 0.1px;
                text-align: left;
                color: #ffffff;
            }

        }

        &__content {
            background-color: #fff;
            padding: 20px;
            border-top: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            font-size: 15px;
            flex-basis: auto;
            border-radius: 10px;

            &--top-blue-border {
                background-position: top left;
                background-repeat: no-repeat;
                background-image: url(/images/dashboard/line.png);
            }

            h4 {
                font-family: Asap;
                font-size: 18px;
                line-height: 1.5;
                color: #0394a6;
                font-weight: bold;
            }

            h5 {
                font-family: Asap;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
            }

            h4,
            p {
                /*padding-right: 115px;*/
            }

            &--table {
                border-top: 0;
            }

            &--background-white {
                background-color: white;
            }
        }

        .statborder {
            border-right: 3px solid #f3f3f3;

            @include media-breakpoint-down(sm) {
                border-right: none;
                border-bottom: 3px solid #f3f3f3;
            }
        }

        .statbox {
            padding: 10px;

            img {
                display: block;
                margin: auto;
            }

            .statfigure {
                font-family: Asap;
                font-size: 26px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #0394a6;
            }

            h3 {
                font-family: Asap;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                padding: 0;
                text-align: center;
                color: #000000;
            }
        }
    }

    &__links {
        margin-top: 10px;

        a {
            font-family: 'Asap';
            color: #000;
            text-decoration: underline;

            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        &:before {
            content: url('/images/dashboard/small_arrow.png');
            margin-right: 5px;
        }
    }

    &__list-topics {
        li {
            border-left-width: 4px;
            border-left-style: solid;
            a {
                color: black;
            }
            .hottopic {
                padding: 10px 20px 10px 15px;
                color: #000;
                text-decoration: none;
                background-color: #FFFFFF;
                display: block;
                position: relative;
                z-index: 1;

                // &:before {
                //     width: 7px;
                //     height: 100%;
                //     z-index: 2;
                //     left: 0;
                //     top: 0;
                //     content: "";
                //     display: block;
                //     position: absolute;
                // }

                .topic-label {
                    text-decoration: underline;

                    &:hover,
                    &:focus {
                        text-decoration: none;

                    }

                }

                .badge {
                    font-size: 12px;
                    padding: 5px 10px;
                    margin: 0 5px 0 0;
                }

                .digit,
                .badge {
                    text-decoration: none;
                }
            }

            &.category1 a:before {
                background: #EE424A;
            }

            &.category2 a:before {
                background: #F49292;
            }

            &.category3 a:before {
                background: #FEBD67;
            }

            &.category4 a:before {
                background: #F49292;
            }

            &.category5 a:before {
                background: #6F8CBA;
            }

        }

        .digit {
            background-color: $brand;
            border-radius: 50%;
            font-family: $font-family-third;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
            color: #fff;
            width: 27px;
            position: absolute;
            left: 20px;
            z-index: 1;
            line-height: 28px;
        }

    }

    .col-dashboard {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .table.table-striped tbody tr:nth-of-type(2n+1) {
        background-color: #FFF;
    }

    .table {
        /*min-width: 400px;*/

        thead tr {

            th {
                padding: 10px 15px;
            }
        }

        tbody tr {

            td {
                padding: 10px 15px;
                border-right: 1px solid #D9D9D9;
                vertical-align: top;

                &.table-cell-icon {
                    padding-left: 0;
                    padding-right: 0;
                    border: 0;
                }

                &:last-child {
                    border: 0;
                }
            }
        }
    }


}

#dashboard__header {
    font-family:Asap;
    font-weight: 700;
    color: #333;
}
