.events {
    @extend .clear;
    padding: 0 0 50px 0;
    min-height: 100%;



    header {
        padding-left: 55px;
        position: relative;
        z-index: 10;
        font-size: 15px;
        text-align: left;
        padding-bottom: 20px;
        @include media-breakpoint-up(md) {
            padding-left: 150px;
        }

        button {
            text-align: left;
        }

        h1 {
            font-size: 26px;
            margin: 10px 0 6px;
        }

        p {
            margin: 0 0 6px;
            a {
                color: #000;
                text-decoration: underline;

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .breadcrumb {
            padding: 0;
        }

        .event-icon {
            display: block;
            position: absolute;
            left: 10px;
            top: 0;
            z-index: 1;
            width: 35px;
            height: auto;
            border-radius: 50%;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
            @include media-breakpoint-up(md) {
                width: 115px;
            }
        }
    }

    &__filter {
        .breadcrumb {
            margin: 0;
        }
    }

    .map {
        width: 100%;
        height: 190px;;
    }

    .container-fluid {
        max-width: 1270px;
    }

    .button-group {
        padding: 0;
        position: relative;
        z-index: 9;
    }

    &__header {
        margin-bottom: 30px;

        &__url {
            color: $brand;
            display: block;
            margin-top: 0;
            margin-bottom: 5px;
            text-decoration: underline;
        }
    }

    &__side__heading {
        font-size: 14px;
        font-weight: 700;
        font-family: $font-family-second;
        color: #000;
        margin: 0 0 10px 0;
    }

    &__description {
        padding: 15px;
        margin-bottom: 30px;
        background-color: $brand-white;
        border: 1px solid $brand-black;
        box-shadow: 5px 5px $brand-black;
        color: #5A5A5A;
        overflow: hidden;
        @extend .clear;
        font-size:16px;

        button {
            border: 0;
            display: block;
            text-decoration: underline;
            background-color: transparent;
            text-align: center;
            color: #5A5A5A;
            width: 100%;

            &:focus, &:hover {
                text-decoration: none;
            }
        }
    }

    &__attendees .link-see-all {
        margin-top: 10px;
        margin-bottom: 3px;
        border: 0;
        display: block;
        text-decoration: underline;
        background-color: transparent;
        text-align: center;
        color: #5A5A5A;
        width: 100%;

        &:focus, &:hover {
            text-decoration: none;
        }
    }

    &-card {
        padding: 5px;
        margin-bottom: 30px;
        font-size: 14px;

        background-color: $brand-white !important;
        border: 1px solid $brand-black !important;
        border-radius: 0 !important;
        box-shadow: 5px 5px $brand-black !important;

        address {
            margin: 0;
        }

        &__details {
            padding: 15px;
            @extend .clear;

            .row {
                > div {
                    margin-bottom: 10px;

                    &.col-label {
                        strong {
                            margin: auto 0;
                            display: block;
                            white-space: nowrap;
                        }
                    }
                }
            }
        }
    }

    .sidebar-lg-offset {
        @include media-breakpoint-up(lg) {
            padding-right: 30px;
        }
    }

    &-page {
        header {
            padding-left: 0;

            h2 {
                font-size: 26px;
            }
        }
        .table-events {
          td {
              padding-top: 10px;
              padding-bottom: 10px;
              &.cell-date {
                  width: 200px;
              }
              &.cell-name {
                  width: 300px;

                  & .group-name a {
                      font-size: smaller;
                      text-decoration: none;

                      &:hover {
                          text-decoration: underline;
                      }
                  }
              }
          }
          th {
              &.cell-name {
                  width: 200px;
              }
              &.cell-date {
                  width: 200px;
              }
          }
        }
    }

    th.hightlighted, td.hightlighted {
        padding-left: 10px !important;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        width: 10px;
    }

    &__map {
        width: 100%;
        height: 200px;
        margin: 30px 0 0 0;
    }

    .table-add{
      td:first-child, th:first-child {
          padding-left: 0;
      }
    }
}

.card .table-events .btn {
    width: auto;
    min-width: auto;
}

.nav-tabs {
    font-size: 16px;
    border: 0 none;
    .nav-item {
        margin-right: 3px;
        font-family: $font-family-sans-serif;
    }
    .nav-link {
        color: #555;
        background-color: #F9F9F9;
        border-color: $brand-grey;
        border-radius: 0;
        padding: 10px 15px;

        svg {
            position: relative;
            z-index: 1;
            margin-right: 5px;
        }
        &.active {
            color: $brand-black;
            border-color: $brand-black;
            border-top: 3px solid $brand-black;
            border-bottom: 1px $brand-white solid;
            background-color: $brand-white;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.tab-content {
    border-radius: 3px;
    border-color: #D9D9D9;
}

.tab-panel {
    border-radius: 3px;
}

// VisuallyHighlight
.cell-warning-heading  {
  background-color: #F9BC67;
}

.cell-primary-heading {
  background-color: #0394A6;
}

.cell-danger-heading {
  background-color: #F05C4D;
}

// Event Details
.cell-danger {
  background-color: #F6E3DF;
}

.cell-warning {
  background-color: #FDE5C3;
}

.cell-info {
  background-color: #D1E5E6;
}


@media (min-width: 992px) {
    #online-checkbox-group {
        margin-top: 40px;
    }
}

#events-attendance-tabs {
    background-color: $brand-white !important;
}

.ourtabs {
    border: 1px solid $black !important;
    background-color: white;
    border: 1px solid $black;
    box-shadow: 5px 5px $black;

    .tab-content p {
        padding-left: 45px;
    }

    .nav-link {
        padding-left: calc(10% + 1px) !important;
        border-top: none;
        padding-top: 10px;
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
        text-transform: uppercase;
        height: 100%;

        &.smallpad {
            padding-left: calc(5% + 1px) !important;
        }
    }

    .nav-link.active {
        border-top: 5px solid $black;
        padding-top: 5px;
        padding-left: calc(10% + 1px) !important;
        border-left: none;
        border-right: 1px solid $black;
        height: 100%;

        &.smallpad {
            padding-left: calc(5% + 1px) !important;
        }

        @include media-breakpoint-up(md) {
            border-bottom: none;
        }
    }

    li:first-of-type {
        .nav-link.active {
            border-left: 0px;
            padding-left: calc(10% + 2px) !important;

            &.smallpad {
                padding-left: calc(5% + 2px) !important;
            }
        }
    }

    .nav-item {
        margin: 0px;
    }

    .active-row td {
        background-color: $warning;
    }
}

.ourtabs.ourtabs-brand {
    border: 1px solid #0394a6 !important;
    box-shadow: 5px 5px #0394a6;

    .nav-link {
        border-left: 1px solid #0394a6;
        border-right: 1px solid #0394a6;
        border-bottom: 1px solid #0394a6;
    }

    .nav-link.active {
        border-top: 5px solid #0394a6;
    }
}