#dropdownTitle {
    padding-left: 0;
    font-size: 40px;
    font-weight:700;
}

.groups {
    padding: 0 0 50px 0;

    .breadcrumb {
        margin: auto;
    }

    .pagination {
        margin-top: 0;
    }

    h2 {
        font-size: 26px;
        margin: 0 0 20px 0;
    }

    aside.edit-panel {
        padding: 15px;
        margin: 0 0 15px 0;
        @extend .clear;

        legend {
            color: $brand;
            font-size: 20px;
        }
    }

    &-tags-label {
        svg {
            margin: auto;
            position: relative;
            z-index: 1;
            top: 0;
            margin-right: 2px;
        }

        button, a {
            font-family: $font-family-second;
            font-size: 13px;
            font-weight: normal;
            color: $brand;
            text-decoration: underline;
            border:0;
            background-color: transparent;
            padding: 0;

            &:hover, &:focus {
                text-decoration: none;
            }
        }
    }
}

.modal-intro {
    overflow: hidden;
    border-radius: 3px;
    .modal-dialog {
        @include media-breakpoint-up(lg) {
            max-width: 445px;
        }
    }

    .modal-content {
        border-radius: 3px;
    }

    img {
        border-radius: 3px;
        display: block;
    }

    .modal-body {
        padding: 30px;
        text-align: center;
    }

    .close {
        position: absolute;
        top: 20px;
        right: 30px;
        z-index: 10;
        font-weight: normal;
        font-size: 70px;
        line-height: 40px;
        opacity: 1;
        color: #FFF;
    }

    h5 {
        font-size: 20px;
        margin: 0 0 20px 0;
    }

    p {
        margin: 0 0 20px;
    }

    .btn {
        width: 200px;
        margin: 0 auto 20px auto;
    }

}

.group-view {

    .events-list-wrap, .events-link-wrap{
      border: 1px $brand-black solid;
    }

    .events-list-wrap {
      table {
        margin-bottom: 0;
      }
    }

    .events-link-wrap {
      padding-top: 12px;
      padding-bottom: 13px;
      a {
        text-decoration: underline;
        color: #000;
        &:hover{
          text-decoration: none;
        }
      }
    }

    .nav-item {
        font-family: $font-family-sans-serif;
    }
}

#headlineStats { min-height: 100px }

#eventsTabContent {
    background-color: $brand-white;
    box-shadow: 5px 5px $brand-black;
    border-color: black;
}

.table-cell-icon .group-icon {
    margin: 8px 0;
}

// This is to add an edit button for a b-dropdown.  We should be able to do that by using <template v-slot:button-content>,
// but that's not working.  So instead, we style an empty button with a background image.
.edit-dropdown button.dropdown-toggle {
    background-image: url('../icons/edit_ico_green.svg');
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
}