.language-bar {
    position: relative;
    z-index: 1;
    background: #FFF;
    border-top: 2px solid #D9D9D9;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    @extend .clear;

    @include media-breakpoint-up(lg) {
        justify-content: flex-end;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        // z-index: 10;
    }

    .fixed-layout &,
    .login-page & {
        position: fixed;
        bottom: 0;
        z-index: 10;
    }

    .dropdown-menu {
        border: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 0;
        box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
        background: transparent;
        bottom: 64px;
        transform: none !important;
        top: auto !important;

        //transform: translate3d(0px, -142px, 0px) !important;
        @include media-breakpoint-up(lg) {
            width: auto;
            left: auto !important;
            right: 0 !important;
            width: 190px;
        }

        &.show {
            bottom: 0px;
        }
    }

    .dropdown-item {
        font-family: $font-family-sans-serif;
        font-weight: 600;
        padding: 5px 30px;
        display: block;
        background: #FFF;

        @include media-breakpoint-up(lg) {
            padding: 5px 20px;
        }

        &:first-child {
            padding-top: 10px;
        }

        &:last-child {
            padding-bottom: 10px;
        }

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }

    button.dropdown-toggle {
        color: #000;
        border: 0;
        border-radius: 0;
        padding: 22px 20px;
        display: block;

        @include media-breakpoint-up(lg) {
            border-left: 1px solid #D9D9D9 !important;
            padding-left: 50px;
            padding-right: 50px;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: #FFF !important;
            color: #000;
            box-shadow: none !important;
            border: 0;
            outline: 0;
        }

        &:after {
            transition: all ease-in-out 0.2s;
            position: relative;
            z-index: 1;
            right: -2px;
        }

        svg {
            position: relative;
            z-index: 1;
            left: -2px;
        }
    }

    &.show {
        >.btn-outline-secondary.dropdown-toggle {
            background-color: #FFF !important;
            color: #000;
        }

        button.dropdown-toggle {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
}

.fixed-layout,
.login-page {
    padding-bottom: 65px;
}