.login-page {
    @include media-breakpoint-up(lg) {
        padding-top: 44px;
    }

    padding: 10px 0;

    #logostats-header {
        @include media-breakpoint-up(lg) {
            margin-bottom: 60px;
        }
    }

    height: 100vh;
    @extend .clear;

    header {

        svg {
          width: 204px;
          height: auto !important;
          display: block;
          @include media-breakpoint-down(sm) {
              margin: auto;
          }
        }
        p {
            padding: 0 15px;
            font-size: 24px;
            margin: 25px 0;
            @include media-breakpoint-up(xl) {
                white-space: nowrap;
                padding: 0;
            }
        }
    }
    .entry-wrapper {
        margin: auto;
        @include media-breakpoint-up(xl) {
            //width: 960px;
            width: 1150px;
        }
    }
    legend {
        font-family: $font-family-sans-serif;
        font-size: 20px;
    }
}

.stats {
    margin-bottom: 30px;

    &__stat {
        border-right: 1px solid black;
    }

    .stat-text {
        font-family: 'Open Sans';
        margin: 0 0 20px;
        color: $brand;
        font-size: 14px;
        line-height: 1;
    }
    .stat-figure {
        font-family: 'Asap';
        font-weight: normal;
        font-size: 33px;
        line-height: 1;
        font-weight: 700;
    }
}
