html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

body {
    @extend .Font-OpenSans;
    margin-bottom: -190px; // footer height + paddings
    min-height: 100%;
    height: 100%;
    background-color: #0394A6;
}

h1,h2,h3 {
    margin: 0px 0px 15px 0px;
    @extend .Font-PatuaOne;
    font-weight: 400;
    small, a {
      @extend .Font-OpenSans; 
    }
}

h1 {
    font-size: 3.2em;
    line-height: 1.8em;
    color: $blue;
}


h2 {
    font-size: 2.4em;
    line-height: 2em;
}
h3 {
    font-size: 1.8em;
    line-height: 2em;
}


.db-object {
    min-height: 150px;
    background: $litegray;
    color: $white;
    font-size: 2.2em;
    padding: 2em;
    margin-bottom: 15px;
}

 .repairable-details + .radio {
  margin-top: -5px;
}

#repairable-details, .repairable-details {
    display: none;
    padding-left: 15px;
}

.repair-status {
    width: 100%;
    height: 100%;
    margin: -8px 0px;
    padding: 8px;
    display: block;
    height: 46px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 800;
    &.fixed, &.repair-status-1 {
      background-color: $fixed;
      color: darken($fixed, 25%);
    }
    &.repairable, &.repair-status-2 {
      background-color: $repairable;
      color:  darken($repairable, 30%);
    }
    &.end-of-life, &.repair-status-3 {
      background-color: $dead;
      color: darken($dead, 40%);
    }
}
.comm-cell {
  width: 60px;
}
.mid-cell {
  width: 120px;
}
.status-header { width: 95px; }

.indicator {
    width: 100%;
    height: 100%;
    margin: -8px 0px;
    padding: 8px;
    display: block;
    &.indicator-1 {
      background-color: crimson;
      color: crimson;
    }
    &.indicator-2 {
      background-color: darkorange;
      color: darkorange;
    }
    &.indicator-3 {
      background-color: gold;
      color: gold;
    }
    &.indicator-4 {
      background-color: greenyellow;
      color: greenyellow;
    }
    &.indicator-5 {
      background-color: darkgreen;
      color: darkgreen;
    }

}
.legend {
  /*display: inline-block; */
  margin: 0px;
  padding: 0px;
  .voice {
    float: left;
    clear: none;
    display: inline-block;
    min-width: 50px;
    max-width: 120px;
    min-height: 25px;
    padding: 8px;
    margin: 0px;
    color: white;
  }
}

.status-inline {
  display: inline-block;
  &:before, &:after { display: block; clear: both; }
  &.big {
    background-image: url('../icons/status_sprite_big.png');
    width: 128px;
    height: 128px;
    &.fixed {
      background-position: 0 0;
    }
    &.repairable {
      background-position: -128px 0;
    }
    &.dead {
      background-position: -256px 0;
    }

  }
  &.mid {
    background-image: url('../icons/status_sprite_med.png');
    width: 64px;
    height: 64px;
    &.greyed {
      background-image: url('../icons/status_missing_sprite_med.png');
    }
    &.fixed {
      background-position: 0 0;
    }
    &.repairable {
      background-position: -64px 0;
    }
    &.dead {
      background-position: -128px 0;
    }

  }
  &.min {
    background-image: url('../icons/status_sprite_min.png');
    width: 32px;
    height: 32px;
    &.fixed {
      background-position: 0 0;
    }
    &.repairable {
      background-position: -32px 0;
    }
    &.dead {
      background-position: -64px 0;
    }
  }

}

.status {
  display: block;
  margin: 0px auto;
  &:before, &:after { display: block; clear: both; }
  &.big {
    background-image: url('../icons/status_sprite_big.png');
    width: 128px;
    height: 128px;
    &.fixed {
      background-position: 0 0;
    }
    &.repairable {
      background-position: -128px 0;
    }
    &.dead {
      background-position: -256px 0;
    }

  }
  &.mid {
    background-image: url('../icons/status_sprite_med.png');
    width: 64px;
    height: 64px;
    &.greyed {
      background-image: url('../icons/status_missing_sprite_med.png');
    }
    &.fixed {
      background-position: 0 0;
    }
    &.repairable {
      background-position: -64px 0;
    }
    &.dead {
      background-position: -128px 0;
    }

  }
  &.min {
    background-image: url('../icons/status_sprite_min.png');
    width: 32px;
    height: 32px;
    &.fixed {
      background-position: 0 0;
    }
    &.repairable {
      background-position: -32px 0;
    }
    &.dead {
      background-position: -64px 0;
    }
  }

}

.status_title {
    display: inline-block; padding: 8px 0px;
    color: $textblue; font-size: 14px; letter-spacing: 0.4; text-transform: uppercase; font-weight: 600;
  }
.textblue {color: $textblue; }

.cluster {
  display: block;
  margin: 0px auto;
  &:before, &:after { display: block; clear: both; }
  &.big {
    //background-image: url('../icons/cluster_sprite_big.png');
    width: 128px;
    height: 128px;
    padding: 0px;
    &.cluster-1 {
      background-position: 0 0;
      background-image: url('../icons/Category_Icons-01.svg');
    }
    &.cluster-2 {
      background-image: url('../icons/Category_Icons-02.svg');
    }
    &.cluster-3 {
      background-image: url('../icons/Category_Icons-03.svg');
    }
    &.cluster-4 {

      background-image: url('../icons/Category_Icons-04.svg');
    }

  }
  &.mid {
    background-image: url('../icons/cluster_sprite_med.png');
    width: 64px;
    height: 64px;
    &.cluster-1 {
      background-position: 0 0;
    }
    &.cluster-2 {
      background-position: -64px 0;
    }
    &.cluster-3 {
      background-position: -128px 0;
    }
    &.cluster-4 {
      background-position: -192px 0;
    }
  }
  &.min {
    background-image: url('../icons/cluster_sprite_min.png');
    width: 32px;
    height: 32px;
    &.cluster-1 {
      background-position: 0 0;
    }
    &.cluster-2 {
      background-position: -32px 0;
    }
    &.cluster-3 {
      background-position: -64px 0;
    }
    &.cluster-4 {
      background-position: -96px 0;
    }
  }
}

.groupname {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  }
.shader {
  background: url('../images/low_brow.png') no-repeat center bottom;
  padding-bottom: 75px;

}

.floatThead-table thead { background: white; }

.group-list {
  padding: 8px;
  a { margin-top: 10px; text-indent: 5px; line-height: 40px;  }
}


.party-images {


  & > .image {
    width: 180px;
    padding: 5px;
    height: 180px;
    overflow-y: hidden;
    float: left;
    clear: none;
    //background: lighten($blue, 25%);
    position: relative;
    .remove-image {
      color: white;
      background: rgba(0,0,0, 0.5);
      position: absolute;
      top: 5px;
      right: 5px;
      padding: 8px 16px;
      cursor: pointer;
    }
  }

}

.impact-avatar { border: 5px solid $litegray; }
.big {
  padding: 15px 5%; font-size: 50px; color: $litegray; font-weight: 300;
  &.blue { color: $blue; @extend .Font-PatuaOne; padding: 0px 0px; font-weight: normal;  }
}
.device-img-wrap {
    max-width: 280px;
    max-height: calc(280px * 1.25);
    overflow: hidden;
}
.device-img {
  max-width: 280px;
  height: auto;
  margin-bottom: 10px;

  -webkit-transition: all 1s ease; /* Safari and Chrome */
  -moz-transition: all 1s ease; /* Firefox */
  -o-transition: all 1s ease; /* IE 9 */
  -ms-transition: all 1s ease; /* Opera */
  transition: all 1s ease;

  &:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
  }

}

ul.lng-switcher {
    list-style-type: none;
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;

    li {
        display:inline;

        margin-right:20px;
    }

    li:last-child {
        margin-right:0;
    }
}

ul#group-dropdown{
  width: 320px;
  height: 600px;
  overflow-y:scroll;
}

div.group-option{
  margin-left: 10px;
}
