.panel:not(.note-editor) {
    padding: 30px;
    background-color: $white;
    border: 1px solid $black;
    box-shadow: 6px 6px 0 0 $black;

    p a {
        color: $brand-black;
        text-decoration: underline;

        &:hover {
            color: $brand-black;
            text-decoration: none;
        }
    }

    &.panel__blue {
        background-color: $brand-blue;
    }

    &.panel__orange {
        font-size: 16px;
        background-color: $brand-orange;
        color: $brand-black;

        h3 {
            color: $brand-black;
        }

        a {
            color: $brand-black;
        }
    }
}

