.user {
    &__header {
        padding-bottom: 25px;
        @extend .clear;

        h3 {
            font-size: 26px;
            margin: 0 0 5px 0;
        }

        p {
            font-size: 15px;
            margin: auto;
        }
    }
}

.profile-header {
    h3, p {
        margin-bottom: 10px;
        line-height: 1.2;
    }
}