.warning {
      display: none;
      width: 351px;
      height: 65px;
      padding: 10px;
      background-color: #ff9800;
      color: white;
      opacity: 0.5;
      filter: alpha(opacity=50); /* For IE8 and earlier */
      font-size: 15px;
      transition: 0.7s;
      cursor: pointer;
    }
    .warning:hover {
          opacity: 1.0;
          filter: alpha(opacity=100); /* For IE8 and earlier */

          }
