
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

// Slick
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';

// Tokenfield
@import 'tfvariables';
@import '~tokenfield/lib/scss/mixins';
@import '~tokenfield/lib/scss/tokenfield';
// @import '~bootstrap-tokenfield/dist/css/bootstrap-tokenfield.css';

// Dropzone
@import '~dropzone/dist/basic';
@import '~dropzone/dist/dropzone';

// Select2
@import '~select2/src/scss/core';

// BS4 Datepicker
@import '~bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.min';

// BS4 Sortable
@import 'bootstrap-sortable';

@import '~leaflet/dist/leaflet';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

@import "accordion";
@import "admin";
@import "alert";
@import "entry";
@import "buttons";
@import "badge";
@import "breadcrumb";
@import "dropzone";
@import "devices";
@import "registration";
@import "navigation";
@import "notifications";
@import "dashboard";
@import "onboarding";
@import "card";
@import "features";
@import "steps";
@import "slideshow";
@import "list-group";
@import "login-page";
@import "modal";
@import "edit";
@import "table";
@import "groups";
@import "popover";
@import "pagination";
@import "properties";
@import 'events';
@import 'networks';
@import 'reporting';
@import 'user';
@import "user-list";
@import "mini-stats";
@import "stat";
@import 'truncate';
@import "global";
@import "errors";
@import "gdpr-cookie-notice";
@import 'languages';
@import 'widget';
@import 'fonts';
@import 'select2-input-group';
@import 'panels';
@import 'volunteers';
@import 'battcat';
// @import "warning";
