.mediawiki .main-page ul {
  list-style-type: none !important;
  margin: 0 !important;;
  padding: 0 !important;;
  margin-left: 35px !important;;
  margin-bottom: 25px !important;

  li {
    position: relative;
    list-style: none !important;

    &::before {
      content: '';
      margin-right: 5px;
      font-size: 14px;
      height: 14px;
      width: 23px;
      color: white;
      font-weight: bold;
      background-image: url('/images/arrow-right-doodle.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 5px;
      left: -35px;
    }
  }
}
