.list-doodle {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 35px;

  li {
    position: relative;

    &::before {
      content: '';
      margin-right: 5px;
      font-size: 14px;
      height: 14px;
      width: 23px;
      color: white;
      font-weight: bold;
      background-image: url('/images/svgs/arrow-right-doodle.svg');
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 5px;
      left: -35px;
    }
  }
}
