.modal {
  button[type=submit] {
    margin-top: 9px;
  }
}

.modal-header {
  h5 {
    font-size: 20px;
    margin-bottom: 0;
  }

  .close {
    margin: -1.3rem -1.5rem -1rem auto;
    position: absolute;
    top: 15px;
    right: 25px;

    svg {
      fill: $black;
      width: 15px;
      height: 15px;
    }
  }

  border: 0 none;
  padding-bottom: 0;
}

.modal-content {
  padding: 30px 20px 20px;
  border-radius: 0;
  box-shadow: 6px 6px 0 0 $black;
  position: relative;

  @include media-breakpoint-up(md) {
    padding: 30px 35px 40px;
  }
}

.form-control {
  border: 2px solid $black;

  &:focus {
    border-color: $brand;
  }
}

.input-group .input-group-append .input-group-text {
  border: 2px solid #bec0c0;
  border-left: 0 none;
}

.form-group {
  label {
    font-family: $font-family-sans-serif;
    font-size: 17px;
  }
}

.after-offset {
  color: #5a5a5a;
  font-size: 90%;
}

// .btn-primary {
//     font-size: 16px;
//     border-radius: 3px;
//     font-family: $font-family-sans-serif;
//     padding: 8px 25px 9px 25px;
//     border-radius: 5px;
// }

.modal__invite {
  textarea {
    min-height: 140px;
  }
}

.modal__description {
  p:last-child {
    margin-bottom: 0;
  }
}

.modal-form {
  legend {
    margin: 0 0 30px 0;
    font-size: 20px;
    font-family: $font-family-sans-serif;
  }

  .modal-dialog {
    max-width: 445px;
  }

  .close {
    color: #000 !important;
    font-size: 40px !important;
  }

  .btn-primary {
    margin: auto 0 !important;
  }

  .button-group {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.modal-brand {
  .modal-content {
    padding: 40px 55px;
  }

  .close {
    right: 35px !important;
    top: 20px !important;
  }
}

.modal-reporting.modal-intro {
  .modal-dialog {
    max-width: 768px !important;
  }

  .modal-body {
    text-align: left;
    padding: 0;
  }

  .modal-content {
    padding: 50px;
    border: 0;
    border-radius: 5px;
  }
}

.fixed-overlay {
  @include media-breakpoint-down(sm) {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    overflow: scroll;
    padding: 30px;
    background-color: #f9f9f9;

    .block,
    .edit-panel {
      border: 0;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

.fixed-overlay-md {
  @include media-breakpoint-down(md) {
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background: #fff;
    height: 100%;
    overflow: scroll;
    padding: 30px;
    background-color: #f9f9f9;

    .block,
    .edit-panel {
      border: 0;
      background-color: transparent;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 0;
    }
  }
}

.mobile-search-bar {
  @include media-breakpoint-down(sm) {
    display: flex;
    align-content: center;

    &__close {
      margin: auto 0 auto 30px;
      padding: 0;
      background-color: transparent;
      border: 0;

      svg {
        display: block;
        margin: auto;
      }
    }
  }
}

.mobile-search-bar-md {
  @include media-breakpoint-down(md) {
    display: flex;
    align-content: center;

    &__close {
      margin: auto 0 auto 30px;
      padding: 0;
      background-color: transparent;
      border: 0;

      svg {
        display: block;
        margin: auto;
      }
    }
  }
}
