.pagination {
  margin: 30px 0 0 0;
  font-family: $font-family-second;
  font-size: 18px;

  a,
  .page-link {
    color: $black;
    border: 0;
    text-decoration: none;
    border-width: 2px;
    border-radius: 3px;
    padding: 0.5rem 0.375rem;
    background-color: transparent !important;

    &:focus {
      background-color: transparent;
      color: $black;
    }

    &:hover {
      text-decoration: underline;
      color: $black;
      font-weight: 700;
      background-color: transparent;
    }
  }

  .active a.page-link {
    border: 1px solid red;
    text-decoration: none;
    color: $black;
    border-radius: 3px;
    border-bottom: 2px solid #155e67;

    &:focus {
      background-color: #00b0c6;
    }

    &:hover {
      background-color: #00b0c6;
      border-color: #00b0c6;
      text-decoration: underline;
    }
  }

  .active {
    .page-link {
      color: $black;
      cursor: pointer;
      font-weight: 700;
    }
  }

  li.page-item {
    &.disabled {
      display: none;
    }
  }
}
