<IfModule mod_rewrite.c>
    RewriteEngine   On

    ## RewriteCond %{HTTP:X-Forwarded-Proto} !https
    ## RewriteRule ^(.*)$ https://community.therestartproject.org/$1 [R=301,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} !\.(png|css|jpg|jpeg|js|less|eot|svg|ttf|otf|woff)$
    RewriteRule ^(.*)$ index.php?url=$1 [PT,QSA,L]
</IfModule>
