// Resolve random body padding issue
.mw-body {
  padding: 0;
}

.toc,
#toc {
  display: none;
}

.showtoc .toc {
  display: block !important;
}

// Resolve random padding issue
:target {
  padding-top: 0 !important;

  &::before {
    content: none !important;
  }
}

.mw-parser-output .mw-collapsible div:first-of-type h2 span:first-child::before {
  min-width: 50px
}

.oo-ui-dialog {
  z-index: 10000 !important;
}

// Hide the navbar when the wiki visual editor opens a modal.
body.oo-ui-windowManager-modal-active > nav {
  visibility: hidden;
}

// Hide "Leave feedback about this software" link, which is confusing.
.ve-ui-mwHelpPopupTool-item .oo-ui-buttonElement-frameless:nth-child(3) {
  display: none !important;
}