@import './_variables';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

body,
html {
  background-color: #f5f7fa !important;
  font-family: $font-family-third !important;
  font-size: 18px;
}

body {
  padding-bottom: 80px;
}

@mixin font-default {
  font-family: $font-family-third;
  font-weight: 700 !important;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  color: $black;
}

h1 {
  @include font-default;

  font-size: 40px !important;
  line-height: 45px;
}

h2 {
  @include font-default;

  font-size: 28px !important;
  line-height: 32px;
}

.link-text {
  text-decoration: none !important;
  border-bottom: 1px solid $black;
  color: $black;

  &:hover {
    border-bottom: 2px solid $black;
    color: $black;
  }

  &:focus {
    border-bottom: 3px solid $black;
    color: $black;
  }
}

.text-brand {
  color: $brand;
}

.text-brand-light {
  color: $brand-light;
}

.vue-placeholder {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  color: lightgrey;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0.5;

  &-large {
    width: 100%;
    height: 416px;
  }

  &-content {
    align-self: center;
    justify-self: center;
  }
}

.d-grid {
  display: grid;
}

@-webkit-keyframes pulsate {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1.0;
  }
  100% {
    opacity: 0.25;
  }
}

#readmore {
  float: right;
}

.clickme {
  cursor: pointer;
}

.linkdrop.dropdown {
  color: $brand-light !important;

  button {
    background-color: transparent !important;
    color: $brand-light !important;
    padding: 0px;
  }

  &.show  {
    .dropdown-toggle {
      background-color: transparent !important;
    }
  }
}

.no-explict-width div {
  width: unset !important;
}

@each $breakpoint in map-keys($grid-breakpoints) {
  @each $size, $length in $sizes {
    @include media-breakpoint-up($breakpoint) {
      .w-#{$breakpoint}-#{$size} {width: $length !important;}
    }
  }
}

.w-33 {
  width: 33.33333%;
}

.fa-fw {
  width: 1rem;
  height: 1rem;
}

.fa-spin {
  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0%  {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
