// Colours //
$focus1 : #0062cc;
$brand: #0394a6;
$black: #222;
$white: #fff;
$brand-light: #4aaebc;
$brand-danger: #dc3545;
$brand-placeholder: #6c757d;
$brand-grey: #f5f7fa;

// Font Variables //
$font-family-sans-serif: 'Asap', sans-serif;
$font-family-third: 'Asap', sans-serif;
$font-family-second: 'Open Sans', sans-serif;

$theme-colors: (
  primary: $brand,
  warning: #ffbe5f,
  info: #d0dae6,
  success: #3fce97,
);

$brand-orange: #ffbe5f;

/** Custom spacing properties */
$spacers: () !default;
$spacers: map-merge(
  (
    10: 10px,
    15: 15px,
    20: 20px,
    25: 25px,
    30: 30px,
    35: 35px,
    40: 40px,
    45: 45px,
    50: 50px,
    60: 60px,
  ),
  $spacers
);

$shadow: 5px;