.postedit-container {
  z-index: 10000 !important;
}

.mw-notification {
  padding: 0.75rem 1.25rem;
  border: 0;
  padding-right: 4rem;
  background-color: #f45b69 !important;
  color: white;

  .postedit-icon,
  .postedit-icon-checkmark,
  .postedit-content,
  .oo-ui-iconElement-icon {
    font-size: 18px;
    font-family: "Asap", sans-serif;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    padding-left: 0;
    background-image: none !important;

    &::after {
      background-size: 15px 15px !important;
    }
  }
}
