#p-search {
  @include media-breakpoint-down(md) {
    width: 55%;
  }

  #searchform {
    .input-group {
      height: 50px;

      .form-control {
        border-right: 0 !important;
        height: 50px;
        border: 1px solid #000;
        border-radius: 0;

        &:focus + .input-group-append button {
          border: 2px solid #000;
        }
      }

      .input-group-append {
        button {
          background: white;
          border-radius: 0;
          border: 1px solid #000;
          padding: 20px 25px;
          border-left: 1px solid black !important;

          &::before {
            content: '';
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
            width: 30px;
            height: 30px;
            background-image: url('/images/search_icon.svg');
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
