.alert {
    border: 0;
    font-size: 18px;
    font-family: $font-family-second;
    padding: 20px;

    &-attendance {
        margin-bottom: 40px;
    }

    &-danger, &-primary, &-warning, &-success, &-delete {
        border: 0;

        position: relative;
        z-index: 1;
        color: #FFF;
        margin-bottom: 15px;
        min-height: 65px;

        .btn {
            font-family: $font-family-sans-serif;
            padding: 7px 15px;
            line-height: 1.2;
            color: #FFF;
            background-color: rgba($color: #000000, $alpha: 0.5);
            border:1px solid rgba($color: #000000, $alpha: 0.7);
            border-bottom-width:3px;
            font-size: 18px;
            padding: 8px 28px;
            display: block;
            width: 100%;
            margin-top: 15px;
            @include media-breakpoint-up(md) {
                margin: auto;
            }

            &:hover {
                background-color: rgba($color: #000000, $alpha: 0);
            }

            &:focus {
                text-decoration: underline;
                background-color: rgba($color: #000000, $alpha: 0);
            }
        }
    }

    &-nobutton {
        padding-right: 20px !important;
    }

    &-success {
        background-color: #4AC54B;


        .btn {
            background-color: #009400;
            border:1px solid #007C00;
            border-bottom-width: 2px;
        }

    }

    &-danger {
        background-color: #D23714;

        .btn {
            background-color: #BD3112;
            border:1px solid #9D290F;
            border-bottom-width: 2px;

            &:hover, &:focus, &:active {
                border-color:#9D290F;
            }
        }
    }

    &-primary {
        background-color: $brand;

        .btn {
            background-color: #008B9D;
            border:1px solid #007483;
            border-bottom-width: 2px;

            &:hover, &:focus, &:active {
                border-color:#007483;
            }
        }

    }

    &-warning, &-delete {
        background-color:#DE7600;

        .btn {
            background-color: #C76A00;
            border:1px solid #A65800;
            border-bottom-width: 2px;

            &:hover, &:focus {
                border-color:#A65800;
            }
        }

    }

    .plain-link {
        text-decoration: underline;
        color: #fff;

        &:hover, &:focus {
          text-decoration: none;
        }
    }

}

.information-alert {
  background-color: #F9F9F9;
  border-radius: unset;
  border: 1px solid #D6D6D6;
  padding: 20px 45px 20px 35px;
  font-size: 16px;
  overflow: hidden;

  .action-text-left {
    .icon {
      margin-right: 30px;
    }

    .action-text {
      line-height: 22px;
      padding-right: 30px;
    }
  }

  .btn-action {
    min-width: 155px;
  }

  @include media-breakpoint-down(sm) {
    .float-right,
    .btn-action {
      width: 100%;
      display: block;
    }
  }

  button.close {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 1.25rem;
    height: 20px;
    padding: 0px;

    span {
      color: #adadad;
    }
  }

  &.set-information-box-margin {
    margin-top: -25px;
    margin-bottom: 50px;
  }
}
