.btn {
    @include button-size(13px, 25px, 16px, 1, 10px);
    font-family: $font-family-sans-serif;
    white-space: normal;

    /*&.disabled {
        color: #666B6C;
        background-color: #D3D9DC;
        border-color: #B0BBC0;
        opacity: 1;
    }

    &:disabled {
        background-color: #D3D9DC;
        color: #666B6C;
        border: 0;
        border-bottom: 3px solid #B0BBC0;
        opacity: 1;

        &:hover,
        &:focus {
            background-color: #D3D9DC;
            color: #666B6C;
            border-bottom: 3px solid #B0BBC0;
            text-decoration: none;
            opacity: 1;
        }
    }*/
}

.btn-sm {
    @include button-size(0.8em, 0.8em, .75rem, 1, 10px);
}

.btn-md {
    @include button-size(0.9em, 0.9em, 0.9rem, 1, 10px);
}

.btn-primary {
    background-color: $brand;
    border: 0;
    border-bottom: 3px solid #155E67;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;

    &:focus,
    &.dropdown-toggle:focus,
    &.dropdown-toggle:active {
        background-color: #00B0C6;
        color: #FFF;
    }

    &:hover,
    &.dropdown-toggle:hover {
        color: #FFF;
        background-color: #00B0C6;
        border-color: #00B0C6;
        text-decoration: underline;
    }
}

.btn-rounded {
    border-radius: 100px;
}

.btn-secondary {
    background-color: #EC7F00;
    border: 0;
    border-bottom: 3px solid #BC6500;

    &:focus,
    &.dropdown-toggle:focus,
    &.dropdown-toggle:active {
        background-color: #AF6713;
    }

    &:hover,
    &.dropdown-toggle:hover {
        background-color: #AF6713;
        border-color: #AF6713;
        text-decoration: underline;
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
        background-color: #FE9F54;
        border-color: #FE9F54;
        color: #fff;
    }

}

.btn-tertiary {
    background-color: #eee;
    border: 0;
    border-bottom: 3px solid #ddd;
    color: #333;

    &:focus,
    &.dropdown-toggle:focus,
    &.dropdown-toggle:active {
        background-color: #ccc;
    }

    &:hover,
    &.dropdown-toggle:hover {
        color: #333;
        background-color: #ddd;
        border-color: #ccc;
        text-decoration: underline;
    }

    &:disabled,
    &:disabled:hover,
    &:disabled:focus {
        background-color: gray;
        border-color: gray;
        color: #333;
    }

}

.btn-danger {
    background-color: #D23714;
    border: 0;
    color: #FFF;

    &:focus,
    &.dropdown-toggle:focus,
    &.dropdown-toggle:active {
        background-color: #F24C26;
        color: #FFF;
    }

    &:hover,
    &.dropdown-toggle:hover {
        background-color: #F24C26;
        border-color: #F24C26;
        color: #FFF;
    }
}

.btn-fault-info {
    @include button-variant(lightgray, white, gray);
    color: #4a4a4a;
    font-weight:600;
    font-family: 'Open Sans';
}

.btn-fault-option {
    @include button-variant(#4a4a4a, white, #4a4a4a);
}

.btn-checkbox {
    width: 100%;
    font-size: 16px;
    padding: 16px;
    margin-bottom: 15px;
    background-color: #E4E4E4;
    border-bottom: 3px solid #B6B6B6;
    color: #000;
}

[type="checkbox"]:focus+label.btn-checkbox {
    //background-color:  #155E67;
    background-color: #E4E4E4;
    border-bottom-color: #B6B6B6;
    color: #000;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
    //color: #fff;
}

[type="checkbox"]:checked+label.btn-checkbox {
    background-color: $brand;
    border: 0;
    border-bottom: 3px solid #155E67;
    color: #FFF;
    font-size: 16px;
    border-radius: 3px;
}

.styled-checkbox {
    @extend .sr-only;
}

.btn-view {
    min-width: 128px;
    margin-bottom: 30px;
}

// .btn-danger {
//     background-color: #BE4E35;
//     color: #FFF;
//     font-size: 18px;
//     border: 0;
//     border-radius: 3px;
//     border-bottom: 3px solid #AA351A;
//     padding: 10px 15px;
// }

.btn-save,
.button-group .btn.btn-save {
    margin: auto 0;
    min-width: 170px;
}

.btn-save2 {
    // max-width: 65px !important;
    // min-width: 65px !important;
    // padding-left: 1px;
    // padding-right: 1px;
    margin: auto 0;
}

.btn-preferences,
.registration__prev.btn-preferences {
    padding-left: 0;
    padding-right: 0;
}

.btn-groups {
    width: 100%;
    display: block;
    margin: auto 0;

    @include media-breakpoint-up(lg) {
        margin: 20px 0 10px 0;
    }
}

.btn-filter {
    margin: 10px 0;
    width: 100%;
}

.btn-volunteered {
    margin: 0 0 10px 0;
    width: 100%;
}

.btn-token {
    background-color: $brand;
    border-radius: 2px;
    border: 0;
    font-size: 10px;
    padding: 1px 4px;
    color: #FFF;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

.btn-skills,
.btn-title {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
}

.btn-skills {
    font-size: 13px;
    font-family: $font-family-second;
}

.btn-column {
    font-size: 15px;
    font-family: $font-family-second;
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    color: #000;
    text-decoration: underline;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-title {
    @extend h1;
    text-decoration: none;

    &:focus,
    &:hover,
    &[aria-expanded="true"] {
        text-decoration: underline;
    }
}

.btn-add {
    padding: 10px;
}

.button-group {
    &__notice {
        font-size: 15px;
        display: block;
        margin: auto 0;
    }

    &__r {
        float: right;

        .btn {
            margin-bottom: 5px;
        }
    }

    .dropdown {
        display: inline;
        border: 0;
        position: relative;
        z-index: 1;
    }

    .dropdown-menu {
        //padding: 5px 0;
        padding: 0;
        min-width: 100%;
        top: -1px !important;
        background-color: $brand;
        border-bottom: 3px solid #155E67;
    }

    .dropdown-item {
        padding: 5px 10px;
        background-color: $brand;
        color: #FFF;
        font-family: $font-family-sans-serif;
        font-size: 16px;

        &:hover,
        &:focus {
            background-color: $focus1;
        }
    }

}

.dropdown-menu__titles {
    border: 0;
    border-radius: 0;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    padding: 5px 0;
    max-height: 400px;
    background: white;
    overflow-y: auto;


    a {
        font-size: 15px;
        padding: 2px 15px;
        display: flex;
        flex: 1 0 100%;
        align-content: center;
        flex-direction: row;

        img,
        svg,
        span {
            margin: auto 0;
        }

        img.dropdown-item-icon {
            width: 26px;
            height: auto;
            margin-right: 10px;
            border-radius: 50%;
            box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
        }
    }
}

.btn-marked {
    diplay: none;
}

.btn-marked,
.marked-as-read {
    background-color: transparent;
    border: 0;
    color: #000;
    padding: 0;
    text-transform: uppercase;
    font-size: 12px;
    display: none;

    svg {
        margin-right: 2px;
        width: 13px;
        height: 9px;
        margin-top: -3px;
    }

    .status-read & {
        text-decoration: underline;
    }
}

.status-read .btn-marked,
.status-is-read .marked-as-read {
    display: block;
}


.btn-group {

    &__duo {
        .btn {
            padding-right: 10px;
            padding-left: 14px;
        }

        .dropdown:first-child .btn {
            border-radius: 3px 0 0 3px;
            border-right: 1px solid #155E67;
        }

        .dropdown:last-child .btn {
            border-radius: 3px;
            @include media-breakpoint-down(md) {
                border-radius: 0 3px 3px 0;
            }
        }

        .dropdown-menu {
            padding: 5px 0;
            min-width: 100%;
            top: -1px !important;
            background-color: $brand;
            border-bottom: 3px solid #155E67;
            // @include media-breakpoint-down(md) {
            //     right: -65px !important;
            //     left: auto !important;
            // }
        }

        .dropdown-item {
            padding: 5px 10px;
            background-color: $brand;
            color: #FFF;
            font-family: $font-family-sans-serif;
            font-size: 16px;

            &:hover,
            &:focus {
                background-color: $focus1;
            }
        }

    }

}

.button-group-filters {
    @include media-breakpoint-down(lg) {
        display: flex;
        flex-flow: row wrap;
        justify-content: inherit;
        padding-bottom: 10px;

        .btn {
            margin: auto 0;
            margin-top: 5px;
            border-radius: 3px !important;

            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

.btn-device-toggle {
    margin: auto;
    padding: 10px 40px;
    font-size: 12px;
}

.btn-state-1 {
    display: none;
}

.btn-state-2 {
    display: block;
}

.btn.collapsed {
    .btn-state-1 {
        display: block;
    }

    .btn-state-2 {
        display: none;
    }
}


a.text-dark:hover, a.text-dark:focus {
  text-decoration: underline !important;
}

.card .dropdown-calendar {
    .btn-link {
        font-size: 14px;
        font-family: $font-family-second;
        font-weight: normal;
        padding: 0;
        min-width: auto;
        color: $brand;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &[aria-expanded="true"]::after {
            transform: rotate(-180deg);
        }
    }

    .dropdown-menu {
        margin-left: -22px;
        margin-top: 12px;
        padding: 0;

        .dropdown-item {
            padding: 8px 12px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                text-decoration: underline;
                background-color: transparent;
            }
        }
    }

    .dropdown-menu-arrow {
        top: -17px;
        left: 50%;
        width: 0;
        height: 0;
        position: relative;
    }

    .dropdown-menu-arrow:before,
    .dropdown-menu-arrow:after {
        content: "";
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-width: 12px 8px;
        border-style: solid;
        border-color: transparent;
        z-index: 1001;
    }

    .dropdown-menu-arrow:after {
        bottom: -18px;
        right: -8px;
        border-bottom-color: #fff;
    }

    .dropdown-menu-arrow:before {
        bottom: -17px;
        right: -8px;
        border-bottom-color: rgba(0,0,0,.15);
    }
}

.btn-normal-padding {
  padding: 0.375rem 0.75rem;
}

.span-vertically-align-middle {
  display: inline-block;
  vertical-align: middle;
}
