.card {
    font-size: 15px;
    border-radius: 0;

    &__link{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &__login {
        background-color: $brand-white;
        border: 1px solid $brand;
        padding: 40px 20px 50px 20px;
        display: flex;
        flex: 1 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
        @include media-breakpoint-up(lg) {
            margin-top: 0;
            margin-bottom: 0;
            padding: 40px 35px 50px 35px;
        }

        a {
            color: #000;
            text-decoration: underline;
            &:hover{
              text-decoration: none;
            }
        }

    }

    &__content {
        background-color: $brand-blue;
        color: $brand;
        padding: 40px 35px;
        display: flex;
        flex: 1 0 auto;
        border-color: $brand;

        h3 {
            color: $brand-white;
            font-size: 23px;
            margin: 0 0 15px;
        }

        p {
            margin: 0 0 10px;
        }

        ul {
            padding-left: 0;
            margin:0 0 0 0;

            li {
                margin: 6px 10px 6px 17px;
            }
        }

        a {
            color: #FFF;
        }

    }

    legend {
        font-size: 20px;
        margin: 0 0 20px 0;
        line-height: 1;
    }

    label {
        font-size: 16px;
    }

    .btn {
        min-width: 100px;
        font-size: 20px;
    }

    .form-group {
        margin-bottom: 15px;
    }

    .form-control {
        font-size: 15px;
        background-color: #FFFFFF;
        border:2px solid #BEC0C0;
        &:disabled, &[readonly]{
          background-color: #e9ecef;
        }
    }
}
