.dashboard {
    padding: 50px 0;

    // .container-fluid {
    //     @include media-breakpoint-up(sm) {
    //         padding: 0 7px;
    //     }
    // }

    &__aside {
        margin-bottom: 15px;
    }

    &__block {
        border: 1px solid #D9D9D9;
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;

        img {
            width: 100%;
            height: auto;
            display: block;
        }

        &__content {
            background-color: #F9F9F9;
            padding: 20px;
            border-top: 1px solid #D9D9D9;
            display: flex;
            flex-direction: column;
            flex: 1;
            font-size: 15px;

            h4 {
                font-size: 18px;
            }

            h4, p {
                /*padding-right: 115px;*/
            }

            &--table {
                border-top: 0;
            }
        }

    }

    &__links {
        a {
            font-size: 14px;
            color: #000;
            text-decoration: underline;
            margin-top: 10px;
        }
    }

    .col-dashboard {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .table.table-striped tbody tr:nth-of-type(2n+1) {
        background-color: #FFF;
    }

    .table {
        /*min-width: 400px;*/

        thead tr {

            th {
                padding: 10px 15px;
            }
        }

        tbody tr {

            td {
                padding: 10px 15px;
                border-right: 1px solid #D9D9D9;
                vertical-align: top;

                &.table-cell-icon {
                    padding-left: 0;
                    padding-right: 0;
                    border: 0;
                }

                &:last-child {
                    border: 0;
                }
            }
        }
    }


}
