.dashboard {
    padding: 20px 0;

    // .container-fluid {
    //     @include media-breakpoint-up(sm) {
    //         padding: 0 7px;
    //     }
    // }

    &__aside {
        margin-bottom: 15px;
    }
    &__block {
        border: 1px solid #D9D9D9;
        display: flex;
        flex-direction: column;
        //flex: 1 0 100%;
        flex: 1 0 auto;
        flex-shrink: 0;
        margin-bottom: 20px;
        @include media-breakpoint-up(lg) {
            margin-bottom: 0;
        }

        &__media {
            flex-shrink:0;
            width: 100%;
            position:relative;
            margin-top:-5px;
            z-index:9;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            align-content: center;
        }

        &__header {
            padding: 14px 50px 14px 20px;
            background-position: top right;
            z-index:10;
            background-color:transparent;

            &--wiki {
                background-image: url(/images/dashboard/wiki_header@1x.png);
                height: 75px;
            }

            &--community {
                background-image: url(/images/dashboard/community_header@1x.png);
                height: 74px;
            }

            &--discussion {
                background-image: url(/images/dashboard/discussion_header@1x.png);
                height: 73px;
            }

            h4 {
                font-family: Asap;
                font-size: 24px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: 1;
                letter-spacing: 0.1px;
                text-align: left;
                color: #ffffff;
            }

        }

        &__content {
            background-color: #F9F9F9;
            padding: 20px;
            border-top: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            font-size: 15px;
            flex-basis: auto;

            h4 {
                font-family: Asap;
                font-size: 18px;
                line-height: 1.5;
                color: #0394a6;
                font-weight: bold;
            }

            h5 {
                font-family: Asap;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #000000;
            }

            h4, p {
                /*padding-right: 115px;*/
            }

            &--table {
                border-top: 0;
            }

            &--background-white {
                background-color: white;
            }
        }

        .statbox {
            padding: 10px;
            border-right: 3px solid #f3f3f3;

            img {
                display:block;
                margin:auto;
            }

            .statfigure {
                font-family: Asap;
                font-size: 26px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
                color: #0394a6;
            }

            h3 {
                font-family: Asap;
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                padding:0;
                text-align: center;
                color: #000000;
            }
        }
    }

    &__links {
        margin-top: 10px;

        a {
            font-family: 'Asap';
            color: #000;
            text-decoration: underline;

            font-size: 14px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
        }

        &:before {
            content:url('/images/dashboard/small_arrow.svg');
            margin-right: 10px;
        }
    }

    .col-dashboard {
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
    }

    .table.table-striped tbody tr:nth-of-type(2n+1) {
        background-color: #FFF;
    }

    .table {
        /*min-width: 400px;*/

        thead tr {

            th {
                padding: 10px 15px;
            }
        }

        tbody tr {

            td {
                padding: 10px 15px;
                border-right: 1px solid #D9D9D9;
                vertical-align: top;

                &.table-cell-icon {
                    padding-left: 0;
                    padding-right: 0;
                    border: 0;
                }

                &:last-child {
                    border: 0;
                }
            }
        }
    }


}
