.devices {

    padding: 70px 0;

    .breadcrumb {
        margin: auto;
    }

    .pagination {
        margin-top: 0;
    }

    h2 {
        font-size: 26px;
        margin: 0 0 20px 0;
    }
    
    legend {
        color: $brand;
        font-size: 20px;
        font-family: $font-family-sans-serif;
    }

}

#device-table tr.active-row td {
    background-color: #ffeeba;
}

