.devices {

  padding: 70px 0;

  .breadcrumb {
    margin: auto;
  }

  .pagination {
    margin-top: 0;
  }

  h2 {
    font-size: 26px;
    margin: 0 0 20px 0;
  }

  legend {
    color: $brand;
    font-size: 20px;
    font-family: $font-family-sans-serif;
  }

}

#device-table tr.active-row td {
  background-color: #ffeeba;
}

.row-compressed-xs>div.device-images {
  @include media-breakpoint-up(lg) {
    padding-left: 20px;
  }
}

.useful-repair-urls {

  .input-group {

    margin-top: 0.5rem;

    .form-control {
      border-radius: 0.25rem;

      &.error {
        border-color: red;
      }

    }

    .btn-link {
      font-size: 35px;
      color: #00B0C6;
      padding: 0 10px;
      line-height: 0px;

      &:hover {
        text-decoration: none;
      }

      span {
        position: relative;
        top: -2px;
      }

    }
  }

  label {
    margin-bottom: 0 !important;
  }

}

.col-device-auto {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
  display: table-cell !important;
  width: auto;
  min-width: 100px;
  max-width: none;
}

td.col-device-auto {
  min-width: 100px;
}

// This is a workaround to display the input, thus displaying the placeholder. Only needed for repair_barrier field
.form-control__select_placeholder {
  .select2-container--default .select2-search--inline .select2-search__field {
    width: 250px !important;
  }
}

#side-collapse {
    padding-top: 10px;
    padding-bottom: 10px;
}

.sort-column {
   cursor: pointer;
   &:after {
       display: inline-block;
       width: 0;
       height: 0;
       margin-left: 0.255em;
       vertical-align: 0.255em;
       content: "";
       border-top: 0.3em solid;
       border-right: 0.3em solid transparent;
       border-bottom: 0;
       border-left: 0.3em solid transparent;
   }
   &.sort-column-asc:after{
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       transform: rotate(180deg);
   }
   &.sort-column-asc, &.sort-column-dsc {
     color: $brand;
   }
}

#device-search {
    #suitable-for-wiki {
        margin: 0 0 0 25px;
        position: relative;
        top: 2px;
    }
}