#main-footer {
    background-color: #F3F3F5;
    color: darken(#F3F3F5, 40%);
    position: relative;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 190px; 
    font-size: 0.8em;
    padding-top: 25px;
    padding-bottom: 25px; 
    
    h3 {
        color: $blue;
        @extend .Font-PatuaOne;
        font-weight: 400;
    }
    a {
        color: $blue;
        &:hover {
            color: darken($blue, 10%);
        }
    }
    .blue { color: $blue; }
    
    .footer-logo {
        
        display: block; padding: 35px;
        
    }
}
