html,
body {
  height: 100%;
  background-color: #FFF;
  color: #000000;
  font-family: $font-family-second;

  &>.container:not(.container-nav) {
    padding-top: 20px;
    min-height: 1200px;

    @include media-breakpoint-up(md) {
      padding-top: 50px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 61px;
  }
}

footer {

  // Fixed nav
  @include media-breakpoint-down(md) {
    min-height: 65px;
  }

}

.overflow-hidden {
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

.container {
  max-width: 1270px;
}

.container-nav .navbar {
    padding: 1rem 0;
}

.block {
  background-color: #F9F9F9;
  border: 1px solid #D9D9D9;
  padding: 22px 20px 28px 20px;
  border-radius: 3px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $brand;
    margin-bottom: 18px;
  }

  &__profile {
    margin-bottom: 15px;

    h4 {
      color: #000;
    }

    ul {
      li {
        list-style: none;
        padding-left: 25px;
        background-image: url('../images/star-colored.svg');
        background-repeat: no-repeat;
        background-position: 0 50%;
        min-height: 11px;
        margin-bottom: 10px;
        font-size: 16px;
        font-family: $font-family-sans-serif;
      }
    }
  }
}

.row-expanded {
  @include media-breakpoint-up(xl) {
    margin-left: -35px;
    margin-right: -35px;

    >div {

      padding-left: 35px;
      padding-right: 35px;
    }
  }
}

.row-compressed {
  margin-left: -10px;
  margin-right: -10px;

  >div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row-compressed-xs {
  margin-left: -2px;
  margin-right: -2px;

  >div {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.body-plain,
.body-plain body {
  background-color: $brand-grey ;
}

.button-group {
  padding-top: 15px;

  // .btn {
  //   min-width: 120px;
  // }
}

.form-group {
  &__offset {
    @include media-breakpoint-up(lg) {
      padding-right: 210px;
    }
  }
}

.form-check {
  margin-bottom: 8px;
}

.form-check-input {
  margin-top: 0.45rem;
}

.form-check {
  padding-left: 0;

  .form-check-input {
    margin: auto 0;
    position: relative;
    margin-right: 10px;
    z-index: 1;
  }
}

.d-flex .form-check-input {
  flex: none;
}

label.form-check-label {
  font-weight: 400;
  font-family: $font-family-second;
  font-size: 15px;
}


.form-control__select {

  padding: 0 !important;
  height: auto;

  select {
    border: 0;
    background-color: transparent;
    width: 100%;
  }

  .select2-container--default .select2-selection--single {
    border: 0;
  }

  .select2-container {
    width: 100% !important;
  }

  .select2-selection {
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .select2-selection__arrow {
    top: 4px !important;
  }

  .select2-selection--multiple {
    margin-top: 0;
    margin-bottom: 0;
    border: 0 none !important;

    .select2-selection__choice {

      background-color: $brand;
      color: #FFF;
      font-size: 14px;
      padding: 5px 12px 5px 10px;
      border: 0 none;
      border-bottom: 3px solid #155E67;
      line-height: 24px;

      .select2-selection__choice__remove {
        float: left;
        color: #FFF;
        font-size: 19px;
        font-weight: 400;
        margin: 0 9px 0px 0;
      }

    }

  }

}

.form-control {
  min-height: 40px;
}

.form-control__nolabel {
  margin-top: 33px;
}

.offset-lg-sidebar {
  @include media-breakpoint-up(xl) {
    padding-right: 40px;
  }
}

.after-offset {
  margin-top: -10px;
  margin-bottom: 15px;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
table th {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}

.photo-list {
  margin: 15px -2px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;

  li {
    list-style: none;
    padding: 0 2px;
    margin: 0;
    flex: 1 0 25%;
    max-width: 25%;

    a {
      display: block;
    }

    img {
      width: 100%;
      height: auto;
      display: block;
      border-radius: 3px;
      background: #BEC0C0;
      border: 2px solid #BEC0C0;
    }
  }

  &__devices {
    margin: 15px -10px;

    li {
      flex: auto;
      max-width: 120px;
      padding: 0 10px;
      margin: 5px 0;

      img {
        border-radius: 3px;
        border: 0;
      }
    }

  }
}

.input-group-qty {
  display: flex;
  flex-flow: row wrap;
  border-radius: 3px;
  border: 2px solid #BEC0C0;
  width: 100px;

  .form-control {
    border: 0;
    font-size: 15px;
    width: 40px;
    padding: 0 2px;
    text-align: center;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Removes leftover margin */
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .btn-value {
    font-size: 15px;
    padding: 2px;
    border: 0;
    flex: 1;
    background-color: #E6E6E6;
  }
}

.ekko-lightbox {
  //background-color: RGBA(3, 148, 166, 0.5);
}

.text-muted {
  font-size: 13px;
  color: #5A5A5A;
}

.skills-list {

  li {
    margin-bottom: 10px;

    svg {
      margin-right: 3px;
      position: relative;
      top: 3px;
      z-index: 1;

      path {
        fill: $brand;
      }
    }
  }

}

.field-form-input {
  width: 215px;
  position: relative;
  z-index: 1;
  padding: 0;
  border-radius: 3px;
  margin: auto 10px;

  button {
    left: 0;
    top: 0;
    height: 100%;
    background-color: #E6E6E6;
    display: flex;
    justify-content: center;
    align-content: center;
    width: 40px;
    border-radius: 0;
    position: absolute;
    border: 0;
    z-index: 2;

    &:focus {
      background-color: #00B0C6;

      svg path {
        fill: #fff
      }
    }

    &:hover {
      background-color: #00B0C6;
      border-color: #00B0C6;
      text-decoration: underline;

      svg path {
        fill: #fff
      }
    }

    svg {
      margin: auto;
    }
  }

  input {
    width: 100%;
    padding: 8px 5px 8px 50px;
    border: 0;
    font-size: 15px;
  }
}

.textarea-large {
  height: 380px;
}

.table-heading {
  font-size: 18px;
  line-height: 1;
  margin: 30px 0;
  text-align: center;
  color: $brand;
}

h2 {
  font-size: 18px;
  margin: 0 0 10px 0;

  sup {
    font-size: 14px;
    font-family: $font-family-second;
    font-weight: 400;
    left: 5px;
    top: -3px;

    a {
      color: #000;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.collapse-header {
  margin: 0;

  @include media-breakpoint-up(lg) {
    display: none;
  }

  a {
    color: #000;
    border-bottom: 2px solid #D9D9D9;
    padding: 10px 0;
    display: block;
    background: url('../images/trapese-up.svg') no-repeat 100% 50%;

    &.collapsed {
      background: url('../images/trapese.svg') no-repeat 100% 50%;
    }
  }

}

.collapse-section {
  @include media-breakpoint-down(md) {
    padding-top: 10px;
  }
}

.flex-0,
.nested-fields label.flex-0 {
  flex: 0 !important;
}

.input-group-append {
  >div {
    margin: 7px 0 0 0;
  }
}

.dummy-field {
  background-color: #EEF0EF;
  padding: 15px;
}

.dummy-label {
  font-size: 16px;
  font-weight: 600;
  font-family: $font-family-sans-serif;
  margin: 0 0 10px 0;
}

.popover-body {
  background-color: $white !important;
  color: $black !important;
  border: 1px solid $black !important;
}

.deepnowrap button {
  white-space: nowrap !important;
}

// We use multiselect in the new Vue code, and select2 in the old jQuery code.  We want to make them look the same.
.multiselect__option {
  padding-left: 10px !important;

  &.multiselect__option--highlight {
    background-color: $brand-muted;

    &.multiselect__option--selected {
      background-color: $brand-muted;
    }
  }

  &.multiselect__option--group.multiselect__option--disabled {
    background-color: white !important;
    font-weight: bold !important;
    color: black !important;
  }
}

.multiselect__tags {
  border-bottom-left-radius:0px !important;
  border-bottom-right-radius:0px !important;
  border-top-left-radius:0px !important;
  border-top-right-radius:0px !important;

  input {
    font-family:"Open Sans", sans-serif;
    font-size:15px;
  }
}

.multiselect {
  font-family: "Open Sans", "sans-serif" !important;

  outline: 3px;
  margin: 2px;
  margin-right: 3px;

  &.multiselect--active {
    border: 3px solid #222 !important;
    outline: 0px !important;
    margin: 0px !important;

    .multiselect__tags, input {
      background-color: #fff2df !important;
    }

    input {
      margin-left: 5px;
      margin-top: 6px;
      margin-bottom: 3px;
    }
  }

  .multiselect__tags {
    padding: 3px 40px 3px 12px !important;
    border: 1px solid #222 !important;

    input {
      min-height: 25px !important;
      line-height: 25px !important;
      padding: 0px !important;
    }

    .multiselect__single {
      padding-left: 5px;
      margin-bottom: 6px;
      padding-top: 5px;
      min-height: 25px !important;
      line-height: 25px !important;
      color: black !important;
    }

    .multiselect__tag {
      background-color: $brand-orange !important;
      color: #222 !important;
      font-size: 14px !important;
      padding: 0 12px 0 10px !important;
      border: 2px solid #000 !important;
      border-radius: 0 !important;
      line-height: 35px !important;
      -webkit-box-shadow: 2px 2px 0 0 #222 !important;
      box-shadow: 2px 2px 0 0 #222 !important;
      margin-bottom: 2px !important;
      text-transform: none !important;
      white-space: nowrap !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
    }

    .multiselect__tag-icon {
      border-radius: 0 !important;
      line-height: 35px !important
    }
  }

  .multiselect__select {
    padding: 8px 8px !important;
    top: 12px !important;
    margin-top: -9px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;

    &:before {
      border: solid black;
      top: 83% !important;
      border-width: 8px 8px 0 !important;
      border-color: black transparent transparent !important;
    }
  }

  .multiselect__option--selected {
    background-color: $brand-muted;
  }

  .multiselect__tag span {
    margin-right: 10px !important;
  }

  .multiselect__input {
    padding-top: 6px !important;
    padding-left: 6px !important;
  }

  .multiselect__placeholder {
    padding-left: 6px !important;
    padding-top: 0px !important;
    margin-bottom: 3px !important;
    margin-top: 3px !important;
    font-size: 15px !important;
    color: $brand-placeholder !important;
  }
}
