html, body {
  height: 100%;
  background-color: #FFF;
  color: #000000;
  font-family: $font-family-second;
  & > .container {
    margin-top: 50px;
  }
}

.container {
  max-width: 1270px;
}

.block {
  background-color: #F9F9F9;
  border: 1px solid #D9D9D9;
  padding: 22px 20px 28px 20px;
  border-radius: 3px;
  h1, h2, h3, h4, h5, h6{
    color: $brand;
    margin-bottom: 18px;
  }
}

.row-expanded {
  @include media-breakpoint-up(xl) {
  margin-left: -35px;
  margin-right: -35px;
    > div {

        padding-left: 35px;
        padding-right: 35px;
      }
  }
}

.row-compressed {
  margin-left: -10px;
  margin-right: -10px;
  > div {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.row-compressed-xs {
  margin-left: -2px;
  margin-right: -2px;
  > div {
    padding-left: 2px;
    padding-right: 2px;
  }
}

.body-plain, .body-plain body {
  background-color: #fff;
}

.button-group {
  padding-top: 15px;

  .btn {
    min-width: 120px;
  }
}

.form-group {
  &__offset {
    @include media-breakpoint-up(lg) {
      padding-right: 210px;
    }
  }
}

.form-check {
  margin-bottom: 8px;
}

.form-check-input {
    margin-top: 0.45rem;
}

label.form-check-label {
    font-weight: 400;
    font-family: $font-family-second;
    font-size: 15px;
}

.form-control__select {

  padding: 0 !important;

  select {
    border: 0;
    background-color: transparent;
    width: 100%;
  }

  .select2-container--default .select2-selection--single {
    border: 0;
  }

  .select2-container{
    width: 100% !important;
  }

  .select2-selection{
    margin-top: 3px;
    margin-bottom: 3px;
  }

  .select2-selection__arrow{
    top: 4px !important;
  }

}

.offset-lg-sidebar {
  @include media-breakpoint-up(xl) {
    padding-right: 40px;
  }
}

.after-offset {
  margin-top: -10px;
  margin-bottom: 15px;
  display: block;
}

h1, h2, h3, h4, h5, table th {
  font-family: $font-family-sans-serif;
  font-weight: 500;
}

.photo-list {
    margin: 15px -2px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;

    li {
        list-style:none;
        padding: 0 2px;
        margin: 0;
        flex: 1 0 25%;

        a {
            display: block;
        }

        img {
            width: 100%;
            height: auto;
            display: block;
            border-radius: 3px;
            background:#BEC0C0;
            border: 2px solid #BEC0C0;
        }
    }
}

.input-group-qty {
  display: flex;
  flex-flow: row wrap;
  border-radius: 3px;
  border: 2px solid #BEC0C0;
  width: 100px;

  .form-control {
    border: 0;
    font-size: 15px;
    width: 40px;
    padding: 0 2px;
    text-align: center;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  .btn-value {
    font-size: 15px;
    padding: 2px;
    border: 0;
    flex: 1;
    background-color: #E6E6E6;
  }
}

.ekko-lightbox {
  background-color: RGBA(3, 148, 166, 0.5);
}
