.language-bar {
    position: relative;
    z-index: 1;
    background: #FFF;
    border-top: 2px solid #D9D9D9;
    display: flex;
    align-content: center;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 100%;
    @extend .clear;

    .dropdown-menu {
        border: 0;
        width: 100%;
        border-radius: 0;
        margin: 0;
        padding: 10px 0;
        box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.4);
        top: -2px !important;
    }

    .dropdown-item {
        font-family: $font-family-sans-serif;
        font-weight: 600;
        padding: 10px 30px;
        display: block;
    }

    button.dropdown-toggle {
        color: #000;
        border: 0;
        border-radius: 0;
        padding: 22px 30px;
        display: block;

        &:hover, &:focus, &:active {
            background-color: #FFF !important;
            color: #000;
            box-shadow: none !important;
            border: 0;
            outline: 0;
        }

        &:after {
            transition: all ease-in-out 0.2s;
            position: relative;z-index: 1;
            right: -2px;
        }

        svg {
            position: relative;
            z-index: 1;
            left: -2px;
        }
    }

    &.show {
        >.btn-outline-secondary.dropdown-toggle {
            background-color: #FFF !important;
            color: #000;
        }
        button.dropdown-toggle {
            &:after {
                transform: rotate(180deg);
            }
        }
    }


}