
.list-group {
    font-family: Asap;
    margin-bottom: 20px;
    .list-group-item {
        font-size: 20px;
        color: $brand;
        border:1px solid #D9D9D9;
        border-top: 0;
        border-radius: 0;
        margin: 0;
        font-family: $font-family-sans-serif;

        &:hover {
            text-decoration: underline;
            background-color: #fff;
        }

        &:focus, &:active {
            text-decoration: none;
            outline: 2px solid #222;
            background-color: #fff;
        }

        &:first-child {
            border-top:1px solid #D9D9D9;
        }

        &.active {
            color: $brand;
            outline: 2px solid #222;
            background-color: $brand-orange;
            border-color: $brand-orange;
            border-radius: 2px;
        }
    }
}
