/** Main Navigation **/
#navigation {
    list-style: none;
    height: 100%;
    padding: 0px;
    margin: 0px;

    li {
        display: inline-block;
        margin: 0px;
        padding: 1em 2em;

        a {
            color: $blue;

        }
    }
}
.profile-picture {
    border: none;
    background: none;
    img {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    }

}

.user-name {
    font-size: 16px;
    font-family: $font-family-sans-serif;
    text-decoration: underline;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;
    display: inline-block;
    padding-left: 1px;
    margin: auto;
}

.nav-link:focus,  {
    .user-name {
        text-decoration: none;
        color: #000;
    }
}

.nav-link:hover,  {
    .user-name {
        text-decoration: underline;
        color: $brand;
    }
}
.navbar-laravel {
    background-color: #FFF;
    border-bottom:2px solid #D9D9D9;
    box-shadow: none;
    padding: 0;
    position: relative;
    z-index: 1000;

    .navbar-brand,
    .navbar-toggler,
    .navbar-collapse {
        position: relative;
        z-index: 2;
    }

    .badge {
        display: inline-block;
        float: left;
        margin: 17px 10px 0 10px;
        font-size: 16px;
        border: 0;
        background-color: #EC7F00;
        font-weight:400;

        &:hover, &:focus {
            background-color: #AF6713;
        }

        span {
            position:relative;
            z-index:1;
            top: -4px;
        }
    }

    .avatar {
        border-radius: 50%;
        background-color: #CCC;
        display: inline-block;
        width: 40px;
        height: 40px;
    }

    .caret {
        float: right;
        margin: -27px 0 0 0;
        font-size: 10px;
        font-family: $font-family-sans-serif;
        position: relative;
        left: 13px;
        z-index: 1;
    }

    .container {
        display: flex;
        flex-flow:row wrap;
        align-items: center;
        @include media-breakpoint-up(sm) {
            max-width:100%;
            padding: 0;
        }
    }

    .navbar-brand {
        margin:auto 0;
        padding: 11px 32px;

        // Equalise padding to right
        padding-right: 37px;

        border:1px solid #D9D9D9;
        border-top:0;
        border-left:0;
        border-bottom:0;

        svg {
            display: block;
        }

        .caret {
            font-size: 18px;
            top: -7px;
            &:after {
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: 0.255em;
                vertical-align: 0.255em;
                content: "";
                border-top: 0.3em solid;
                border-right: 0.3em solid transparent;
                border-bottom: 0;
                border-left: 0.3em solid transparent;
            }
        }
    }

    .navbar-nav {
        font-size: 18px;

        .nav-link {
            color: #000;
            position: relative;
            z-index: 1;
            font-family: $font-family-sans-serif;
            @include media-breakpoint-up(sm) {
                padding: 11px 15px;
                border:1px solid #D9D9D9;
                border-top:0;
                border-right:0;
                border-bottom:0;
            }
            &:hover, &:focus {
                background-color: #fff;
                text-decoration: none;
            }
        }

        &__left {
            .nav-link {
                @include media-breakpoint-up(sm) {
                    border-right:1px solid #D9D9D9;
                    border-left: 0;
                    padding-top: 18px;
                    padding-bottom: 18px;
                    padding-left: 50px;
                    padding-right: 35px;
                }

                padding-left: 40px;

                svg {
                    display: block;
                    position: absolute;
                    left: 27px;
                    top: 50%;
                    z-index: 1;
                    margin-top: -7px;
                }

                &:focus {
                    background-color: #F3F3F3;
                    outline: 0;
                }

                &:hover {
                    background-color: #0394A6;
                    color: #FFF;

                    svg {
                        path {
                            fill:#FFF !important;
                        }
                    }
                }

            }
        }

        .dropdown-menu {
            border-radius: 0;
            background-color: #FFF;
            border: 0;
            right: 0;
            left: auto;
            width: 260px;
            // border:1px solid #D9D9D9;
            // border-top:0;
            padding:0;
            margin: 3px 0 0 0;
            box-shadow: -2px 0 5px rgba(0, 0, 0, 0.17);
        }

        .dropdown-item {
            font-size: 17px;
        }

        #navbarDropdown {
            //text-decoration: underline;
            text-decoration: none;
            //width: 230px;
            border:0;
            display: flex;
            align-content: center;
            flex-flow: row wrap;
            &:hover, &:focus {
                background-color: #fff;
                text-decoration: none;
            }

            &:after {
                top: 18px;
                position: relative;
            }
        }
    }
}

.navbar-start {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background: #FFF;
    margin: 2px 0 0 0;
    box-shadow:2px 5px 5px rgba(0, 0, 0, 0.17);
    width:210px;
    transition: none;
}

.navbar-dropdown {

    > ul {
        margin: 0;
        padding: 0;

        > li {
            text-transform: uppercase;
            list-style: none;
            font-size: 12px;
            display: block;
            padding-bottom: 10px;
            padding: 15px 20px 15px 20px;
            border-bottom:1px solid #D9D9D9;


            svg {
                display: inline-block;
                margin: 0 3px 0 0;
                position: relative;
                z-index: 1;
                top: 3px;
            }

            > ul {
                margin: 5px 0 0 0;
                padding: 0;

                > li {
                    font-size: 17px;
                    list-style: none;
                    margin-bottom: 5px;
                    display: block;
                    text-transform: none;
                    font-family: $font-family-sans-serif;

                    a {
                        display: block;
                        color: #000;
                    }
                }
            }
        }
    }

}
