.onboarding {
    .modal {
        //background-color: RGBA(3, 148, 166, 0.5);

        .close {
            display: none;
            position: absolute;
            top: 4px;
            right: 30px;
            z-index: 10;
            font-weight: normal;
            font-size: 70px;
            line-height: 40px;
            opacity: 1;

            &--visible {
                display: block;
            }
        }
    }

    .modal-dialog {
        @include media-breakpoint-up(lg) {
            max-width: 615px;
        }
    }

    .modal-content {

        article {
            @extend .clear;
            padding-bottom: 30px;
            @include media-breakpoint-up(lg) {
                padding: 20px 30px 15px;
            }
        }

        h1 {
            font-weight: normal;
            font-size: 26px;
            line-height: 1;
            margin: 0 0 15px 0;
            text-align: center;
        }

        p {
            font-family: $font-family-second;
            font-size: 15px;
            line-height: 1.3;
            text-align: center;
        }

        p:last-child {
            @include media-breakpoint-up(lg) {
                margin-bottom: 40px;
            }
        }

        img {
            margin: 0 auto 25px;
            max-width: 180px;
            @include media-breakpoint-up(lg) {
            max-width: 100%;
            }
        }

        ul {
            text-align: center;
            list-style-type: square;
            list-style-position: inside;
        }
    }

    .modal-prev, .modal-next {
        border:0;
        background-color: transparent;
        position: absolute;
        bottom: 25px;
        z-index: 3;
        font-size: 16px;
        padding: 10px;
        display: flex;
        align-content: center;
        flex-flow: row wrap;

        svg {
            margin-top: auto;
            margin-bottom: auto;
            display: inline-block;
        }
    }

    .modal-prev {
        left: 40px;

        svg {
            margin-right: 5px;
        }
    }

    .modal-next {
        right: 40px;

        svg {
            margin-left: 5px;
        }
    }

    .modal-finished {
        z-index: 3;
        position: absolute;
        right: 40px;
        bottom: 32px;
        display: none;

        &--visible {
            display: block;
        }
    }

    button.slick-disabled {
        display: none !important;
    }
}
