.popover-group {
    bottom: 2px;
    left: 5px;

    svg {
        position: relative;
        z-index: 1;
        top: 2px;
        margin-right: 5px;
    }
}

.popover-body {
    font-size: 14px;
    font-family: $font-family-second;
    color: #5A5A5A;
}

.popover__table {
    border-color: $brand;
    border: 0;

    .popover-body {
        font-size: 13px;
        background-color: $brand;
        border-radius: 3px;
        color: #FFF;
        padding: 5px 10px;
    }

    .arrow::after,
    .arrow::before {
        border-bottom-color: $brand;
        border-top-color: $brand;
    }
}

.popover-calendar-feed {
  font-family: $font-family-second;
  min-width: 370px;
  border: 0px;

  .arrow {
    top: calc((0.5rem) * -1);
    color: rgba(0, 0, 0, 0.125);
    z-index: 1;
  }

  .popover-body {
    padding: 0px;
  }

  .card  {
    font-size: 13px;
    .btn {
      min-width: 0px;
      font-size: 0px;
    }
  }

  p,
  a {
    color: #000;
  }
}
