.popover-group {
    bottom: 2px;
    left: 5px;

    svg {
        position: relative;
        z-index: 1;
        top: 2px;
        margin-right: 5px;
    }
}

.popover-body {
    font-size: 14px;
    font-family: $font-family-second;
    color: #5A5A5A;
}

.popover__table {
    border-color: $brand;
    border: 0;

    .popover-body {
        font-size: 13px;
        background-color: $brand;
        border-radius: 3px;
        color: #FFF;
        padding: 5px 10px;
    }

    .arrow::after,
    .arrow::before {
        border-bottom-color: $brand;
        border-top-color: $brand;
    }

}
