.properties {
    margin: 0 -1px;
    margin-bottom: 30px;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    li {
        padding: 0 1px;
        flex: 1 0 50%;
        list-style: none;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        margin-bottom: 2px;
        @include media-breakpoint-up(lg) {
            flex: 1 0 20%;
            max-width: 20%;
        }

        &.properties__item__full {
            flex: 1 0 100% !important;
            max-width: 100% !important;
        }

        &.properties__item__half_xs {
            @include media-breakpoint-down(md) {
            flex: 1 0 50% !important;
            max-width: 50% !important;
            }
        }

        &.properties__item__full_xs {

            svg {
                top: 0;
            }

            @include media-breakpoint-down(md) {
            flex: 1 0 100% !important;
            max-width: 100% !important;

                svg {
                    top: 50%;
                    margin-top: -10px;
                }

                h3 {
                    padding-bottom: 0;
                    flex: none;
                    margin: auto 0;
                }
            }
        }

        > div {
            background-color: #F9F9F9;
            border: 1px solid #D9D9D9;
            padding: 15px;
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            border-radius:3px;
            position: relative;
            z-index: 1;
            flex-basis: auto;
            > span {
              display: contents;
            }
        }

        svg {
            position: absolute;
            left: 15px;
            top: 18px;
            z-index: 1;
            display: block;
        }

        h3 {
            margin: 0;
            font-size: 18px;
            font-weight: 400;
            padding: 0 0 15px 28px;
            color: $brand;
            flex: 1 0 auto;
        }
    }

    &__small {
        flex: 1 0 50%;

        li {
            @include media-breakpoint-up(lg) {
                flex: 1 0 50%;
                max-width: 50%;
            }
        }
    }

    &__full {
        flex: 1 0 100%;

        li {
            @include media-breakpoint-up(lg) {
                flex: 1 0 50%;
                max-width: 50%;
            }
        }
    }

    &__repair-count {
        font-size: 14px;

        > div {
            padding-bottom:10px;
        }
    }

    &__iconless {
        li {
            h3 {
                padding-left: 0;
            }
        }
    }
}
