.stat {
    background-color: #F9F9F9;
    border: 1px solid #D9D9D9;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 1 0 100%;
    border-radius: 3px;
    position: relative;
    z-index: 1;

    h3 {
        text-align: center;
        margin: 0 0 20px 0;
        font-size: 18px;
        color: $brand;
    }

    p {
        margin: 0;
        font-size: 24px;
        text-align: center;
    }

    svg {
        margin: auto auto 20px auto;
        display: block;
        max-width: 100%;
    }
}