.steps {
    list-style: none;
    padding: 0;
    margin: 0;
    border-bottom: 2px solid #E9E9E9;
}

.step {
    padding: 20px;
    border: 1px solid #E9E9E9;
    border-bottom: 0;
    font-size: 15px;
    line-height: 1.2;

    h3 {
        font-size: 20px;
        margin: 10px 0 20px 0;
    }

    h4 {
        font-size: 16px;
        margin: auto 0;
    }

    a {
        text-decoration: underline;
        text-align: right;
        color: #000;
        display: block;
        font-size: 14px;
        margin:auto 0;
    }

    &__tick {
        width: 27px;
        height: auto;
        display: block;
    }
}