.table {

    &-tick {
        display: block;
        margin: auto;
    }

    &.table-striped {

        tbody tr {
            background-color: #EEF0F0;
        }

        tbody tr:nth-of-type(2n+1) {
            background-color: #F9F9F9;
        }

    }

    th {
        border: 0;
        border-bottom: 2px solid #E9E9E9;
        font-size: 16px;
        padding: 10px 5px;
    }


    td {
        font-size: 15px;
        border: none;
        vertical-align: middle;
        font-family: $font-family-second;
        //padding: 7px 5px 9px;
        padding: 7px 5px 9px;

        img {
            width: 42px;
            height: auto;
            display: block;
        }

        a:not(.btn) {
            text-decoration: underline;
            color: #000;
        }

    }

    td,
    th {
        &:first-child {
            padding-left: 20px;
        }
        &.table-cell-icon {
            text-align:center;
            padding: 0;
            padding-left: 0 !important;
            min-width: 55px;
            min-height: 55px;
            border-left: 10px;

            a {
                display: inline-block;
            }
        }
    }

    &-section {
        padding: 20px 0;
        @extend .clear;
    }

    &-repair {

        .arrow {
            transform: rotate(0deg);
            display: inline-block;
            position: relative;
            z-index: 1;
        }

        .collapsed {
            .arrow {
                transform: rotate(180deg);
                top: 4px;
            }
        }

        .badge {
            margin-right: 8px;
            width: 60px;
        }

        tr {
            border-bottom: 1px solid #D9D9D9;

            th,
            td {
                background-color: #F9F9F9;

                &:first-child {
                    padding-left: 10px;
                }
            }

            td {
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }

    &-row-details {
        td {
            background-color: #EEF0F0 !important;
            padding: 10px;

            .table {
                background-color: transparent;
                table-layout: fixed;

                label {
                    font-family: $font-family-sans-serif;
                    font-size: 16px;

                    &.form-check-label {
                        font-size: 15px;
                        font-family: $font-family-second;
                    }
                }

                .form-check {
                    margin-top: auto;
                    margin-bottom: auto;
                }

                .form-group {
                    margin: 0;
                }

                .form-control__select {
                    padding-top: 4px;
                    padding-bottom: 3px;
                }

                tbody {
                    border: 0;
                }

                tr {
                    border: 0;

                    td {
                        background-color: transparent;
                        padding: 0 3px 0 0;
                        vertical-align: top;

                        &:last-child {
                            padding: 0;
                        }
                    }

                    &.table-row-more {

                        .form-check-input {
                            margin-top: 1px;
                        }

                        td {
                            padding-top: 10px;
                            vertical-align: top !important;
                        }
                    }

                }
            }
        }
    }

    tr.active-row {

        td,
        th {
            background-color: #F9F9F9;
        }
    }

    .table-cell-upload-td {
        vertical-align: top !important;
    }

    .table-cell-upload {
        @include media-breakpoint-up(md) {
            padding-left: 15px;
        }

        @extend .clear;

        .form-group {
            padding-right: 40px;
            margin-bottom: 30px !important;
        }

        @include media-breakpoint-down(sm) {
            .btn-primary {
                width: 100%;
            }
        }
    }

    &-add {
        border: 0;

        .form-group {
            margin: 0;
        }

        .form-control__select {
            padding-top: 4px;
            padding-bottom: 3px;
        }

        tr {
            border: 0;

            th {
                padding-left: 10px !important;
                font-family: $font-family-sans-serif;
                font-size: 16px;
                border: 0;
            }

            td {
                border: 0;
                background-color: transparent;
                padding: 0 3px 0 0;
                vertical-align: middle;

                &:last-child {
                    padding: 0 10px 0 0;
                }

                // @include media-breakpoint-down(sm) {
                //     width:25%;
                // }
            }
        }

    }

    &-devices {
        .badge {
            width: 60px;
            margin: auto;
            display: block;
        }

        svg,
        button,
        a {
            margin: auto 0;
            display: block;
        }

        a {
            text-decoration: underline;
        }

        td {
            vertical-align: middle;
        }
    }

    &-events {

        th,
        td {
            padding-left: 15px;
            padding-right: 15px;
        }

        th {
            vertical-align: middle !important;

            svg,
            .btn-skills {
                display: block;
                margin: auto;
            }
        }

        th.cell-locations,
        td.cell-locations {
            width: 220px;
        }

        th.cell-date,
        td.cell-date {
            width: 140px;
        }

        td.cell-name {
            border-left: 0;
        }

        td {
            padding-top: 10px;
            padding-bottom: 10px;
            border-left: 1px solid #D9D9D9;
        }

        tr>td {
            &:first-child {
                border-left: 0;
            }
        }

        td.cell-figure {
            font-size: 22px;
            text-align: center;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        td.cell-progress,
        td.cell-rsvp,
        td.cell-moderation {
            font-size: 14px;
            text-align: center;
        }

        td.cell-rsvp {
            /*background-color: #D0FBF0;*/
        }

        td.cell-progress {
            background-color: #FFE4E1;
        }

        td.cell-moderation {
            background-color: #FFF4E1;
        }

    }

    th.last-login div,
    td.last-login div {
        width: 165px;
    }

}

.table-layout-fixed {
  table-layout: fixed;
}

.row-button {
    white-space: nowrap;
}

.nested-fields {
    @include media-breakpoint-down(md) {
        padding: 0 10px;
    }

    label {
        font-family: $font-family-sans-serif;
        font-size: 16px;
        margin-bottom: 7px;
        flex: 1;

        &.form-check-label {
            font-size: 15px;
            font-family: $font-family-second;
        }
    }

    >.form-control {
        margin-bottom: 15px;
    }
}

.table-device-details {
    background-color: #F9F9F9;
    border-top: 2px solid #dee2e6;
    padding: 30px 20px;

    .form-group {
        margin-bottom: 30px;
    }
}
