
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400|Patua+One');

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/** Colors **/ 
$litegray:  rgba(114,125,131,1);    // Hex is #727d83
$blue:      rgba(  3,148,166,1);    // Hex is #0394a6
$orange:    rgba(249,163, 63,1);    // Hex is #f9a33f
$white:     rgba(255,255,255,1);    // Hex is #ffffff
$darkgray:  rgba( 51, 51, 51,1);    // Hex is #333333

$fixed:         rgba(123,199, 67,1); // Hex is #7bc743
$repairable:    rgba(174,223,141,1); // Hex is #aedf8d
$dead:          rgba(250,163, 63,1); // Hex is #FAA33F

$textblue: #1498A7;