@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Patua+One|Asap:400,700');

// Body
$body-bg: #f5f8fa;
$brand: #222;
$brand-black: #222;
$brand-white: #fff;
$brand-orange: #ffbe5f;
$brand-blue: #0faca8;
$brand-grey: #f5f7fa;
$brand-muted: #6c757d;
$brand-placeholder: #6c757d;

// Typography
$font-family-sans-serif: Asap, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$font-family-second: 'Open Sans', sans-serif;
$font-family-third: 'Asap', sans-serif;

.clear {

  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }

}

$focus1 : #0062cc;

$dropdown-link-active-color: $brand-black;
$dropdown-link-active-bg: $brand-white;


