.Font-PatuaOne {
    font-family: 'Patua One', serif;    
}
.Font-OpenSans {
    font-family: 'Open Sans', Arial, sans-serif;
    &.italic {
        font-weight: 300;
        font-style: italic;
    }
}
.orange {
    color: @orange !important; 
}

.border-radius(@radius){
    border-radius: @radius;
    -moz-border-radius: @radius;
    -webkit-border-radius: @radius; 
}

.transition(@prop, @time){
    transition: @prop @time ease 0s;
    -moz-transition: @prop @time ease 0s; 
    -webkit-transition: @prop @time ease 0s;
}