/** Main Navigation **/
#navigation {
    list-style: none;
    height: 100%;
    padding: 0px;
    margin: 0px;
    
    li {
        display: inline-block;
        margin: 0px;
        padding: 1em 2em;
        
        a {
            color: @blue;
            
        }
    }
}
.profile-picture {
    border: none;
    background: none;
    img { 
        border-radius: 20px;
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
    }
    
}