#hangovers {
	width: 940px;
	margin: 0 auto; 
	.box {
		padding: 20px;
		background: @orange;
		color: white;
		&.box-blue {
			background: @blue;
		}
		&.box-fixed { background: @fixed; }
		&.box-repairable { background: @repairable;  }
		&.box-dead { background: @dead;  }
		
		h4 { font-size: 12px; font-weight: bold; text-transform: uppercase; }
		.number { font-size: 36px; font-weight: normal; .Font-PatuaOne; }
		
	}
	
	table {
		margin-top: 45px; 
		th { text-align: center; font-size: 11px; font-weight: normal; color: @blue; }
		td:first-child { width: 200px; vertical-align: middle; text-transform: uppercase; color: @darkgray; }
		td:not(:first-child){
			text-align: center;
			vertical-align: middle;
			&.state {
				font-size: 36px;
				margin: 15px auto; 
				&.state-fixed { color: @fixed; }
				&.state-repairable { color: @repairable; }
				&.state-dead { color: @dead; }
				
			}
			h5 { font-size: 11px; text-transform: uppercase; color: @litegray; margin: 5px auto 0px; }
			.number { font-size: 36px; }
			.aggregate { font-size: 10px; color: @litegray; }
		}
		
	}
}

