#profile-page
{
    .header {
        background: url('/assets/images/profile-header-background.jpg') repeat-x center center;
        padding-top: 25px;
        padding-bottom: 25px; 
    }
    
    .profile-image {
        border: 3px solid white;
        .border-radius(130px);
        -webkit-box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.5);
        box-shadow: inset 0px 15px 10px 0px rgba(0,0,0,0.5);
    }
    
    .stat { border-bottom: 5px solid @litegray; padding-bottom: 15px; }
    .stat-label { text-align: center; font-size: 12px; text-transform: uppercase; color: @litegray; display: block; clear: both; margin-top: 15px; }
    .stat-value { text-align: center; font-size: 32px; text-transform: uppercase; color: @darkgray; display: block; clear: both; font-weight: 400; }
    
    .badge {
        width: 64px;
        height: 64px;
        margin: 10px;
        display: inline-block;
        
        background-color: transparent;
        color: blue;
        .border-radius(32px);
    }
 
}   